[2021-01-04 17:59] jedahan opened #25 "outdated packages"
from kiss-outdated
need to update with mentioning maintainers

[code]

[2021-01-04 18:22] git-bruh commented on #25
Was creating a similar list some time ago, made an issue (kisslinux#1681)

[2021-01-05 20:53] noocsharp opened #26 "djvulibre: doesn't build"
The new release of djvulibre doesn't appear to come with a configure file, so autogen.sh needs to be run in the build.

@ectlunya
@git-bruh

[2021-01-06 14:21] ectlunya commented on #26
Changed on official community pull request

[2021-01-06 14:26] #26 closed

[2021-01-06 15:45] jedahan opened #27 "Package chromium"
This is a tracking ticket for native chromium on musl.

Currently, flatpak is our best bet.

Once we have chromium, we can tackle ungoogled-chromium and electron.

[2021-01-06 15:46] jedahan opened #28 "Package JVM"
The JVM is important, we should package it.

See trbednarzyk/KISS-Java-Repo and what it can do.

[2021-01-06 15:47] jedahan opened #29 "Package electron"
There are enough useful applications that electron should be packaged.

[2021-01-06 16:29] jedahan opened #30 "Postman"
Tracking ticket for postman

Tried flatpak but didn't like to run

[2021-01-06 16:31] jedahan opened #31 "GIMP"
Had to use beta channel of flatpak to run on wayland

    kiss build repo-flatpak
    kiss install repo-flatpak
    source /etc/profile

    kiss build flatpak
    kiss install flatpak

    flatpak remote-add --user flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo # beta needed for native wayland support
    flatpak install org.gimp.GIMP
    flatpak make-current --user org.gimp.

[2021-01-08 08:27] hovercats opened #35 "[Reguest] Add Tor Browser to repo"
Id like to request adding Tor browser into the community repo.
To my knowledge, we got a couple of solutions here that we can choose between.

- We could choose the most obvious reason for this distro, to fetch the source code from their git, and compile it ourself.
- We could fetch the .Tar.xz from torproject.org, and either unpack, and compile, or add it to the community bin repo, but tbh, I see

[2021-01-08 09:42] git-bruh commented on #35
`torbrowser-launcher` probably won't work as there's no binary available for musl (afaik)

Using this source https://archive.torproject.org/tor-package-archive/torbrowser/10.0.7/src-firefox-tor-browser-78.6.0esr-10.0-1-build1.tar.xz
KISS's firefox-esr no-dbus patch applies, rust 1.48 patch applies, no-gtk2 patch is failing but i can try fixing it and then try building. But i am not sure if we want

[2021-01-08 11:45] sdsddsd1 commented on #26
@ectlunya djvulibre has a wrong checksum pushed.

[2021-01-08 14:21] hovercats commented on #35
@git-bruh I didnt thought of that tbh. I checked alpine's repos aswell, and they dont have one either. They got Tor, but so do we, but not the browser part.

Patching it *could* potentially hurt torbrowser, however, that depends entierly on the fact if those dependencies have any real effects on Tor's ability to function as intended. I cant answer that question, as I simply dont know, as its abit

[2021-01-08 14:56] git-bruh commented on #35
i "fixed" the no-gtk2 patch (there were some differences in normal firefox and tor's old-configure)

however, only old-configure.in is present in the tor release tarball and not the generated old-configure, it is generated during mach configure here, but im not sure how we can patch it without making the configure script fail first, don't know much about the build system

so if you want to build i

[2021-01-08 17:48] mmatongo commented on #29
If I remember correctly electron depends on `java` and citing from personal experience, the JRE is a whole other type of hell to compile.

[2021-01-09 06:19] hovercats commented on #35
I get the error of missing 'old config' when applying gtk2 patch, retrying ./mach configure will then for me, end in an error of missing 'libpulse'.

I also tried to do a search on tor on musl libc, and tbh, I have yet to find anything in particular. Im also starting to belive theres a reason for torbrowser not being available on musl libc distros

Im leaning more and more onto rather using a chro

[2021-01-09 06:26] git-bruh commented on #35
no gtk 2 patch http://ix.io/2Lo9

build yasm and autoconf2.13 as in the firefox build script

[code]

let it fail
then apply the no-gtk2,dbus,rust patch

tor  browser should work with musl as it's just a modified version of firefox esr, but im not sure

also the configure options will have to be changed a little for tor-specific things

[2021-01-09 10:18] hovercats commented on #35
Running the afforementioned command, willl result in the following error;
`ERROR: Don't know how to translate x86_64-unknown-linux-gnulibc1 for rustc`

This stops the process, and Im unable to continue. This is also way beyond my knowledge.
Unless someone else has the urge to see if they cant fix this, Ill be closing this issue in the next few days.

[2021-01-09 11:09] git-bruh commented on #29
https://github.com/void-linux/void-packages/tree/master/srcpkgs/electron9/files/musl-patches

[2021-01-09 11:13] #25 closed

[2021-01-09 14:08] mmatongo commented on #29
I'll try port it over but no promises, it looks really bad.

[2021-01-09 14:13] mmatongo commented on #31
credits to @eudaldgr

https://github.com/eudaldgr/kiss-garbage/tree/1ac916eee7f0a21e3bc4b29246a1ec53f5a1bf04/gfx/gimp

[2021-01-09 14:25] eudaldgr commented on #31
This not build anymore, needs `gtk+2`. I'm working on build the 2.99.4 version with `gtk+3` only.

[2021-01-09 14:52] mmatongo commented on #31
That's unfortunate, at least we have a POC that has worked and can build on it.

[2021-01-09 16:17] eudaldgr commented on #31
[`gimp 2.99.4`](https://github.com/eudaldgr/kiss-garbage/tree/master/gfx/gimp)

In order to build, it need to add some [hooks](https://github.com/eudaldgr/kiss-garbage/blob/master/gfx/README.md), and rebuild packages like `gtk+3`, `pango`...

![current](https://user-images.githubusercontent.com/50481714/104102667-3b695000-529e-11eb-80c9-0c64cc434746.png)

[2021-01-13 12:32] git-bruh commented on #27
my (currently failing) attempt: https://github.com/git-bruh/community/tree/chromium/community/chromium

[2021-01-13 12:43] git-bruh commented on #27
fails with this output on both gcc and clang, currently building on glibc

[code]

[2021-01-13 15:54] hovercats commented on #35
Ill close this, seeing as Im none the wiser on how to make Tor run on kiss linux. if however you should come up with a solution, feel free to reopen.

If youve come across this issue hoping to find a solution, Ive come up with none for musl libc, however, there are alternatives to bypass this issue;
Use [GKiss](https://github.com/gkisslinux/grepo#gkiss-linux-) (kiss with glibc instead  of musl lib

[2021-01-13 15:54] #35 closed

[2021-01-13 23:37] noocsharp commented on #27
I've also been working on chromium, but I didn't get anything like that 🤔

[2021-01-14 07:56] git-bruh commented on #27
@noocsharp Could you share your build file ?

[2021-01-14 08:13] git-bruh commented on #27
Finally got it to build, but it depends on dbus, atk-bridge and at-spi2-core. Will have to see if i can stub out the dbus dependency with https://github.com/dylanaraps/libdbus-stub or https://github.com/clbr/nobus, then try a musl build

[2021-01-14 09:54] git-bruh commented on #27
OK now the handshake issue is suddenly gone (?), will figure out gtk later, now will start build on musl

Sorry for spamming the issue

[2021-01-14 11:36] git-bruh commented on #27
musl patches needing updates:
[code]

[2021-01-14 16:06] noocsharp commented on #27
I have a successful build on musl on top of 87 by stealing from alpine and arch.

[2021-01-14 16:56] jedahan commented on #27
@noocsharp didn't push yet? browsing the web interface doesn't show chromium...

[2021-01-14 17:01] noocsharp commented on #27
The web interface is broken atm, haven't gotten around to fixing it.

[2021-01-14 17:35] noocsharp commented on #27
I should mention that at the very least installing doesn't work yet, so the build script should just be used as a guide for building locally for now.

[2021-01-14 18:23] git-bruh commented on #27
@noocsharp was getting gssapi related include errors, so just copied those from artix earlier as a temporary hack

While going through this gentoo overlay https://github.com/smaeul/portage-overlay
to remove dbus, saw that "use_kerberos=false" is a valid build option too.

[2021-01-14 20:42] noocsharp opened #45 "wget: fix configuration file location"
Currently wget puts `wgetrc` in `/usr/etc` when it should go in `/etc`. Not sure what the maintainer situation is with regard to Dylan's packages, but I could send a pull request if desired.

This can be fixed using `--sysconfdir=/etc` when configuring.

[2021-01-15 10:18] git-bruh commented on #45
Dylan's packages are orphaned for now so you can send a PR

[2021-01-15 14:51] git-bruh commented on #27
Got a build on musl finally, earlier kept failing due to something related to `OutputToStreamWithPrefix` with the execinfo patch, found another patch for the same and seems to work, need to update in repo

Sandbox doesn't work under musl, probably something with me running in a chroot (glibc sandbox works fine with no SUID), will have to test on a real KISS install

Here's a musl binary, would be

[2021-01-15 16:20] noocsharp commented on #27
I'm on a real kiss install and I get the following output to stderr on startup:
[code]

I think this means sandbox doesn't work, but I'm not sure. The first error can easily be fixed by adding a file, and maybe by patching it out.

[2021-01-15 16:35] git-bruh commented on #27
The first one is harmless (dbus related), second one im not so sure about but if the sandbox wasn't working, chromium would ask you to launch with `--no-sandbox`, will check this myself too.

Thanks for testing it 👍

[2021-01-15 16:37] git-bruh commented on #27
The browser actually works, right ? or just exits after those 2?

[2021-01-15 16:43] noocsharp commented on #27
Works great, at least with my limited testing.

[2021-01-15 16:49] git-bruh commented on #27
Nice

The second error seems to be mostly(?) harmless aswell, looks mesa related, i guess i didn't get it cuz nvidia drivers

https://discussion.fedoraproject.org/t/state-of-chrome-ium-87-with-wayland/23713/3
https://github.com/nwjs/nw.js/issues/7316#issuecomment-573481441
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=918433;msg=10
https://github.com/ungoogled-software/ungoogled-chromium-porta

[2021-01-16 03:28] noocsharp commented on #27
@git-bruh
When I try to build your chromium package, I get the following:
[code]
I believe it can be solved by ifdefing the inside of the OutputToStream method in `base/debug/stack_trace.cc` to only be enabled with glibc.

[2021-01-16 05:27] #45 closed

[2021-01-16 11:52] git-bruh commented on #27
Having a hard time figuring out the gtk theme crash, did `ldd` on arch's `libgtk-3.so`, it linked to libcloudproviders and atk-bridge aswell. So i packaged both, even linked gtk3 to both of them, but the crash persists

Also for some reason `libcloudproviders.so.0` doesn't show up when i do `ldd /usr/lib/chromium/chromium`, if i remove libcloudproviders package, its just gone from `ldd` and doesn'

[2021-01-16 12:00] git-bruh commented on #27
Arch's chromium links to these libs
[code]

In our case, atspi, dbus and cups are disabled, and rest are not used from system libs, so not sure where the problem is coming from :/

[2021-01-16 14:40] git-bruh commented on #27
Package is almost done now, ungoogled built on glibc successfully, waiting for musl build to finish.

And the gtk theme segfault isn't related to the build itself, the same issue was present even when i tried a binary few weeks back

[2021-01-16 16:49] noocsharp commented on #27
Does it output anything to stderr when it crashes?

[2021-01-16 17:02] git-bruh commented on #27
@noocsharp  nah its a segfault http://ix.io/2Me4 (gdb)
idk why it doesn't happen if i set my `LD_LIBRARY_PATH` to arch's cuz i tried to build gtk with similar options aswell

[2021-01-17 05:21] git-bruh commented on #27
doing a `diff` between the ldd output and the output with `LD_LIBRARY_PATH` shows some extra libs but none of them seem to be related to the segfault http://ix.io/2MhH The "problem" lies in how KISS builds one of it's libs i guess

[2021-01-17 05:36] git-bruh commented on #27
So using all libs from arch, and just `LD_PRELOAD`-ing KISS's gtk3 lib causes the same segfault, `LD_PRELOAD`-ing other libs doesn't cause other crashes or anything. Will try building a :b: loated gtk3 on KISS and see if it happens

[2021-01-17 06:14] git-bruh commented on #27
Figured it out finally! All i had to do was remove `--enable-debug=no` from KISS's gtk3 build :tada:

[2021-01-17 11:33] #27 closed

[2021-01-17 13:53] periish commented on #29
For those seeking electron apps, dylan’s kiss-flatpak exists. I’d be willing to fork and maintain, should anyone so desire.

[2021-01-21 01:20] kyx0r opened #53 "Chromium build fail"
Hello, this failed with pci/pci.h header missing, I have checked and I only have /linux/pci.h from the kernel-headers but this is not it, otherwise it should have been #include <linux/pci.h> . I am not sure even why this is being compiled in the first place, it looks like some bullshit wrapper code for generating some gpu vulkan crap on android.
I am attachingrelevant part of the build log:
https:

[2021-01-21 11:28] git-bruh commented on #53
https://github.com/kisslinux/community/issues/1637

Just do `kiss fork pciutils` and modify the build file to change `install-pcilib` to `install-lib`

[2021-01-21 11:32] git-bruh commented on #53
Also, there's been a new chromium release so you should probably build that instead of this old one. Here: https://github.com/git-bruh/community/tree/chromium/community/chromium, but i haven't tested it on musl yet, build should finish in a few hours.

[2021-01-21 19:19] kyx0r commented on #53
@git-bruh Thanks for the quick responce. I have tried building the new release as you said but still got the same error.Then I tried to just install pciutils, got the same error. Then I manually installed pciutils with libs and headers and the build worked. That said, don't you think that pciutils should be made a dependency for chromium and maybe split the change to build script to install the li

[2021-01-21 19:41] kyx0r commented on #53
Luckly I have 12 core last gen ryzen 5 PRO 4650 cpu, with 32 gb of overclocked ram, so I can test compile this bloated software somewhat with a grace, it takes about 2 hours to compile this stupid browser even on my high end system with literally every package+kernel compiled with -O3 -march=native -mtune=native. I imagine the horrors of anybody else doing this on a lower spec system and their thi

[2021-01-22 00:23] kyx0r commented on #53
I just finished building the 87. version and it still has the same stacktrace error. Possibly some uvdev library version is wrong? But that cant's be because I have all my packages up to date with the other fork from dylan which is ~120 commits ahead.

[2021-01-22 04:38] git-bruh commented on #53
I was getting the same error when running in a chroot. installing `eudev` fixed it and i made it a dependency

[2021-01-22 05:34] git-bruh commented on #53
It should definitely work after installing `eudev`:

![2021-01-22-105754_956x1052_scrot](https://user-images.githubusercontent.com/67585967/105450870-6e99df00-5ca1-11eb-9a73-bdfb77f02168.png)

[2021-01-22 15:19] kyx0r commented on #53
Thanks for the help! I managed to solve my issue, somehow they were related to eudev conflicts that came out of nowhere. I don't really get why this conflict existed, (maybe something from previous version?) but I just did ```kiss a uedev (conflict name here) ``` and it magically started to work. Here's the screen:

<a href="https://ibb.co/BzmJYCq"><img src="https://i.ibb.co/w0Tq2zM/2021-01-22-180

[2021-01-22 15:19] #53 closed

[2021-01-22 15:21] git-bruh commented on #53
@kyx0r Great! the conflicts might be present if you had `libudev-zero` installed

[2021-01-24 08:55] illiliti commented on #53
@git-bruh Another option to avoid udev related issues is building chromium without libudev support (use_udev=false GN flag). Can you please test this ?

[2021-01-24 09:59] git-bruh commented on #53
@illiliti Thanks! Rebuilt and seems to work fine now without linking udev

[2021-01-25 08:22] git-bruh commented on #53
@illiliti update: for some reason if chromium is not linked to `eudev`, the chromium process doesn't get killed even after closing all tabs with `Ctrl + W`, so if you "close" chromium then try to launch it again, it wont work cuz chromium is already running:
![2021-01-25-131226_1532x88_scrot](https://user-images.githubusercontent.com/67585967/105679328-49f96d80-5f14-11eb-82c8-967eb220717c.png)

Th

[2021-01-25 14:43] kyx0r opened #69 "Packages with cmake"
Hello I've recently made some development libraries for vulkan.
https://github.com/kyx0r/repo-vulkan.git

My question is how do you go about working with cmake, because while they do build and install successfully there is no way to remove then from the system. kiss r package does not actually remove the files installed by cmake (or rather make install). What do I need to change in the build to ma

[2021-01-25 15:13] git-bruh commented on #69
You're just doing `make install` instead of `make DESTDIR="$1" install`, which just installs the package into your system's `/usr` directly without actually creating a KISS package

also the preferred format for cmake stuff is

[code]

[2021-01-25 15:14] git-bruh commented on #69
and "$1" is the directory where the package files will be installed, and the KISS package is created from that directory only

[2021-01-26 17:39] kyx0r commented on #69
Thank you. My packages are fixed now. If you ever want to add them to this repo, feel free to copy from my repo. I will be maintaining those myself because I use them for my work. And I also don't want to be bothered of not having direct push access, making pull requests and all that nonsense. Also, I will at some point package the rest of the vulkan tools so expect that repo to grow, right now it

[2021-01-26 17:39] #69 closed

[2021-01-26 21:56] kyx0r opened #73 "Set tcc source to mob branch"
Hello the version that is downloaded for tcc is like 3 years old. I suggest to download the sources directly from the mob branch which is what people use for production nowadays.
https://repo.or.cz/w/tinycc.git

This is a special case because over the years numerous bugs we fixed and since this is a compiler, it has no excuses to have bugs if you are building anything meaningful with it. This proj

[2021-01-26 21:59] kyx0r commented on #73
Also, since this is a source based distro, that should give it even more incentive to pull the latest version.

[2021-01-26 22:14] kyx0r commented on #73
For more about what is mob read here: https://repo.or.cz/h/mob.html

[2021-01-26 22:53] sdsddsd1 commented on #73
To reach the maintainer of the package you have to ping them.
@ $(kiss-maintainer tcc)

[2021-01-26 23:06] kyx0r commented on #73
I don't know their github username, I'll send him an email. But if not I guess @git-bruh is the curator here while dylan is gone? Or you mean something else by that @ $(kiss-maintainer tcc)? Kiss maintainer only gives me his email.

[2021-01-26 23:38] ArmaanB commented on #29
@periish That would be great, it could be made a part of kiss-community as well. I know that @jedahan was toying around with flatpaks earlier, so you could build off of that

[2021-01-27 04:45] git-bruh commented on #73
@IslandAlpha is the maintainer

[code]

[2021-01-28 17:46] kyx0r commented on #73
@git-bruh And if he never responds? Should I do it myself? It's really not that hard to update the checksum and pick some git commit hash base off of.

[2021-01-28 18:00] git-bruh commented on #73
@kyx0r yeah you can do it yourself and send a PR if the maintainer doesn't respond

[2021-01-29 21:46] noocsharp opened #77 "Factor v8 out of nodejs and chromium"
The v8 javascript engine takes a long time to compile and is a dependency of both nodejs and chromium. However, it can be built as a shared object, saving the bulk of compilation time for nodejs, and a good chunk for chromium.

It is packaged in the AUR, which can be used as reference:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=v8

[2021-01-30 05:59] IslandAlpha commented on #73
@kyx0r I've been away from KISS linux for a while now, do you want to take over tcc maintainership?

[2021-01-30 07:03] git-bruh commented on #77
How do you use system v8 for chromium though ? The only mention of it i see is a comment in the [void package](https://github.com/void-linux/void-packages/blob/d00fa5c4e87b72ae59b1818326f667ac4840a976/srcpkgs/chromium/template#L119), nothing in `gn args --list`

As for packaging v8 itself, not sure if we want to package it, seems pretty messy since there's no single tarball and you need to git clo

[2021-01-30 17:07] noocsharp commented on #77
Hmm, when I get some time, I'll play around with it and see if I can figure it out. I thought I'd just throw the idea out there to test the feasibility, and you bring up some good points against it :)

[2021-02-02 06:43] #73 closed

[2021-02-06 16:51] noocsharp opened #80 "pcre2: fix dependencies"
Looking at [Alpine](https://pkgs.alpinelinux.org/package/edge/main/x86_64/pcre2) and [LFS](http://www.linuxfromscratch.org/blfs/view/svn/general/pcre2.html), all of pcre2's dependencies are optional, and bash isn't even a dependency.

@onodera-punpun

[2021-02-08 16:31] noocsharp opened #84 "e2fsprogs: fails to build"
It appears to require `qsort_r` which is missing from musl, although musl does have `qsort`.

See: https://github.com/tytso/e2fsprogs/issues/58

[2021-02-09 04:07] git-bruh commented on #84
Thanks for reporting, I mainly run GKISS as host and only rebuild `core`/fat packages or packages which have had previous issues with musl on my musl KISS chroot, will build everything on musl too now.

https://github.com/CarbsLinux/repository/commit/80b426c236a6ffb74f813b7ef8f55eb28ddd203a

[2021-02-09 04:10] #84 closed

[2021-02-09 13:44] kyx0r opened #85 "chromium 88.0.4324.150 crash"
@git-bruh Hello git bruh, apparently there is a bug in chromium which causes randonmly pages to hang and crash.

The kernel reports:
[code]

When this happens page becomes unresponsive and timeout occurs. Which is obvious why because int3 does stall the cpu until the exception is handled but in this case this is a hard crash of the tab.

I was able to reproduce this with and without hardware accel

[2021-02-09 14:00] git-bruh commented on #85
Hmm, i have not encountered any such behaviour running with glibc + nvidia and had a successful musl build aswell (though can't test it much)
Void linux doesn't seem to have added any new patches for musl either: https://github.com/void-linux/void-packages/commit/62cfcaa653a5f1dc280efb730052043da06d7e42#diff-4e60bca235f5f2033c89ef4ddfec4821a14b29bf8f88d502f2944ba28721682f

I will boot into my KISS

[2021-02-09 14:16] git-bruh commented on #85
Hmm, running from a chroot and opening `chrome://flags` seems to cause the same for me:
[code]

I think i will try the void linux binary, see if it happens there. If it doesn't, then it might be an issue with one of the system libs we're using like `icu`

[2021-02-09 15:26] kyx0r commented on #85
@git-bruh Should I compile firefox? Is it more bloated than chromium ? They added rust, which is the subject of hate. Is there a version without rust? Maybe there is an old version of firefox fork that is maintained by someone before they added the abomination?

[2021-02-09 15:32] git-bruh commented on #85
Seems like i broke this since version `87.0.4280.141` which means that it's either caused by:
* system `icu`
* system `libevent`
* system `libxml`
* not linking `libxkbcommon`
* removing `pciutils` dep (`use_libpci=false`)

nothing other than `chrome://flags` seems to be affected. What other pages did you experience this on?

As for firefox, it's definitely less bloated than chromium but I haven't

[2021-02-09 15:35] kyx0r commented on #85
@git-bruh Actually this bug does affect every page. But it happens randomly. I have experienced hangs on youtube.com and zotacstore.com sometimes. i think it just depends on some javascript that runs.

[2021-02-09 17:28] dilyn-corner commented on #85
I have also experienced hangs on pages - usually it seems to be red herring (the page works fine on, say, youtube or twitch), but on places like chess.com the entire browser locks up. I will test later with a terminal pulled up to see what it spite out and test the chrome://flags page. FWIW I also think it's javascript related.
My build can be checked [here](https://github.com/dilyn-corner/KISS-me

[2021-02-09 18:11] kyx0r commented on #85
@dilyn-corner Yeah, right? Sometimes when the bug happens it actually does not log any errors, one tab just crashes but after, going forward the whole browser looses ability to load pages, (it's like network died but not really) the pages are just spinning loading forever. When that happens only thing to do is to restart the browser.

[2021-02-09 19:17] dilyn-corner commented on #85
Yeah; just tested chrom://flags. The page crashed H A R D. Never experienced just a horrible thing, even on other websites where I get similar issues. No errors in the terminal when it happened either, but I can only assume it's identical to this issue.

I can test suggested fixes if anybody finds something, but it will take me a full day to rebuild chromium :v

[2021-02-10 04:06] git-bruh commented on #85
Rebuilt without `icu` and same issue. On top of that i accidentally rebuilt `88.0.4324.96` instead of `88.0.4324.150` :facepalm:

Most of the changes I've suggested are already in @dilyn-corner's build file (
*  system `icu` `libxml` `libXslt` are not used
* `use_xkbcommon=true` and pciutils dep is present
*  dilyn's build file has system `libevent` too but that is probably not even remotely relat

[2021-02-10 07:01] git-bruh commented on #85
Did a build without system `libxml`, `libXslt`, `libevent`. Seems to work fine now, I am not interested in further bisecting whether `libevent` is the culprit or (`libxml` + `libXslt`). Will update the build file in sometime.

[2021-02-10 13:00] git-bruh commented on #85
Should work with the updated build file now!

[2021-02-10 13:00] #85 closed

[2021-02-10 17:16] noocsharp opened #91 "msmtp: use libtls instead of gnutls"
msmtp now has up-to-date support for libtls, and once packages are dropped (#89), it will be the only package dependent on gnutls. So I think it makes sense to switch to libtls from gnutls to avoid the dependency.

@Vouivre

[2021-02-11 03:03] noocsharp opened #92 "intel-media-driver: version file doesn't end with newline"
The kiss package manager only works if the version file ends in a newline (`read` reads line by line), so atm it breaks when it tries to update `intel-media-driver`.

[2021-02-11 06:28] #92 closed

[2021-02-11 07:33] Vouivre opened #96 "Still necessary to push PR on kisslinux/community ?"
I will update some of my packages on repo-community, but is it still necessary to push PR on kisslinux/community ? Repology.org now points to repo-community, perhaps it's time to replace kisslinux/community with kiss-community/repo-community. You probably had a discussion about this. We will drop one of those repos pretty soon or later. What are your opinons on this ?

[2021-02-11 07:34] Vouivre commented on #91
Right, it's on my list. Thanks!

[2021-02-11 07:37] git-bruh commented on #96
Yeah i think we should stop sending PRs to `kisslinux/community`, cuz when/if dylan comes back, I doubt he's gonna go through 80+ PRs at once. We'll just merge `repo-community` to `kisslinux/community` at that time.

[2021-02-11 07:51] Vouivre commented on #96
It's also what I think. Unless every maintainer know it, I would inform them. I'm not sure an issue on kisslinux/community is the best. Perhaps that information should be posted on reddit. It's interesting for the maintainers and also for the users. And we should also think to the new users that will come. But as far as I know you already had a discussion on this. Perhaps I'm the only one who is n

[2021-02-11 08:18] git-bruh commented on #96
This topic in particular has not been discussed in IRC. It would be a good idea to post it on the subreddit.

[2021-02-11 11:28] Vouivre commented on #96
In this case I think it's better that you post it, or somebody who knows what was discussed. Thank you for your answer :+1:!

[2021-02-11 11:33] git-bruh commented on #96
I don't have a reddit account, just browse the sub without one. I guess we can make yet another issue on kisslinux/community regarding this?

[2021-02-11 14:23] kyx0r commented on #85
@git-bruh Okay, I have tested the latest build in the last 24hrs and it seems to be stable now. I have not experienced any chrome bugs yet. Looking good! ;)

[2021-02-11 15:35] Vouivre commented on #96
It's also a solution. So for the moment we could open an issue on kisslinux/community. I assume a lot, if not all maintainers, will see it.

But later I think we should make more visible how Kiss is evolving. As a new user it can happen I won't search on issues on github. I would have a look at the Kiss website where there are no information about kiss-community.

[2021-02-11 15:37] ArmaanB commented on #96
If we get the domain on Feb 14, then this will be much easier. If not, the plan is March 30 we send out a poll / major notice about the future of KISS

[2021-02-11 15:59] Vouivre commented on #96
I didn't know. Thanks! I let you open an issue on kisslinux/community ? If yes, I let you close this issue.

[2021-02-11 16:02] ArmaanB commented on #96
I will when the time comes, thanks!

[2021-02-11 16:02] #96 closed

[2021-02-12 05:33] git-bruh opened #97 "Outdated packages"
@xuxiaodong
- [ ] restic: 0.11.0

@xuxiaodong
- [ ] tig: 2.5.1

@mmatongo
- [ ] github-cli: 1.5.0

@dilyn-corner
- [ ] nss: 3.61

@djt3
- [ ] nfs-utils: 2.5.2

[2021-02-12 05:36] git-bruh commented on #97
I can take over `btrfs-progs`, `procps-ng`, `imagemagick`, `fuse`, `iputils`

[2021-02-12 07:25] Vouivre commented on #91
Done with commit https://github.com/kiss-community/repo-community/commit/1228f5b79735b1bb0ffbea73b001437e74d3d4e3 .
By the way I saw that `pkgconf` was missing as a dependency.

Now I will probably drop gnutls.

[2021-02-12 07:25] #91 closed

[2021-02-12 09:25] Ominitay commented on #97
I am still happy to maintain`i3[-gaps]`, I'll be updating them this weekend.

[2021-02-12 22:48] dilyn-corner commented on #97
`ecm` will be bumped when it's no longer an rc (tomorrow).

[2021-02-12 22:51] mmatongo commented on #97
I've updated 2 out of 3, I'll work on `tor` tomorrow.

[2021-02-13 11:20] git-bruh commented on #97
@Vouivre @mmatongo @noocsharp Would you be willing to adopt a few packages from the orphaned list?

[2021-02-13 14:37] mmatongo commented on #97
I'm fine with it.

[2021-02-13 14:39] mmatongo commented on #28
Already on this, their repo was not properly packaged but I intend on using that as a bootstrap repo.

[2021-02-13 17:13] noocsharp commented on #97
I would adopt some if I used any of them, but I don't. Probably best to drop if no one takes them.

[2021-02-13 17:31] mmatongo commented on #97
I'll take `lvm2` and `openvpn`

[2021-02-13 17:40] dilyn-corner commented on #85
Coming back to this to confirm (finally) that dropping `libevent` resulted in this being resolved.

[2021-02-13 18:04] git-bruh commented on #97
@mmatongo Could you take over `pkcs11-helper` aswell? It's a dependency for `openvpn`

I'll take over `libisoburn`, `libisofs`, `xwallpaper`.

`syncthing`, `libsndfile`, `libsamplerate`, `fldigi` will have to be dropped.

[2021-02-13 19:53] Ominitay commented on #97
i3[-gaps] have been bumped in #103

[2021-02-13 20:16] Vouivre commented on #97
I'm in the same case as noocsharp. I don't use any of them. By name I know `syncthing`, but that's all. That's the reason why I dropped `emacs`: I still think it's good to have it in a distribution, but I don't use it anymore.
But I'm still open to adopt some of them. If some of them are important to have, just tell me which one and I could adopt them.

[2021-02-14 04:18] git-bruh commented on #97
@Vouivre It would be nice if you could take `syncthing`, ill drop the 3 remaining packages.

[2021-02-14 06:39] Vouivre commented on #97
Ok, I'll take it.

[2021-02-14 07:03] git-bruh commented on #97
@Vouivre Yeah I think it would be good to have `emacs` in community since it's pretty popular. You can take back build files from kiss-graveyard

[2021-02-14 07:10] Vouivre commented on #97
I also still have it locally. Ok, I bring it back.

[2021-02-14 07:58] git-bruh commented on #97
@Vouivre you forgot to re-add `gnutls`

[2021-02-14 08:15] Vouivre commented on #97
Sorry, I didn't check, I simply brought `emacs` back to the repo.

[2021-02-15 15:28] aaronNGi commented on #97
`socat-1.7.4.1` is [here](https://github.com/kisslinux/community/pull/1743).

I think we should give up on submitting PRs to the original repo.

[2021-02-15 16:54] git-bruh commented on #97
@aaronNGi Sorry i was running the outdated script on another branch which didn't have your PR merged. and yeah we should shift completely to this repo from kisslinux/community now.

[2021-02-15 18:53] aaronNGi commented on #97
All good.

Okey great, means I can cleanup my repos :)

[2021-02-15 19:43] noocsharp opened #108 "mawk: fix relver"
The relver for mawk is 0, and the minimum should be 1

@konimex

[2021-02-16 04:46] git-bruh commented on #29
From the guidestones:

A separate repo can be made for electron if anyone manages to package it.

[2021-02-16 04:46] #29 closed

[2021-02-16 04:47] git-bruh commented on #30
#29

[2021-02-16 04:47] #30 closed

[2021-02-16 04:47] #108 closed

[2021-02-17 17:14] mmatongo commented on #97
Tor is gonna be a min

[2021-02-18 01:04] ArmaanB opened #120 "Please fill out this poll regarding the future of KISS"
https://kiss-poll.armaanb.net

2021-02-17 -- At this point, it is safe to say that Dylan Araps has left the project fairly permanently. We have heard no public message from him in almost 3 months, the domain has expired, and the SSL certificate on git.k1ss.org has expired. While kiss-community has maintained packages, the current mindset of "community maintenance until Dylan returns" seems to be c

[2021-02-19 01:07] Xeno-Hypster commented on #97
I see that mpd still hasn't been updated, according to this, I'd be happy to take over that if no-one has it.

[2021-02-19 03:00] git-bruh commented on #97
@Xeno-Hypster There's an update to 0.22.6, you can send a PR if you use the package. It was orphaned but i just bumped it because it's probably a useful package.

[2021-02-19 03:02] Xeno-Hypster commented on #97
Will do then, I do enjoy having my music.

[2021-02-19 04:13] Xeno-Hypster opened #129 "Checksum mismatch with scdoc"
Hi,

There's currently a checksum mismatch with the scdoc package version 1.11.1.

@git-bruh guessing this falls under your control at the moment.

[2021-02-19 04:29] #129 closed

[2021-02-19 04:30] git-bruh commented on #129
I had used a script to update some packages few weeks back when there were 50+ outdated packages, the file probably got corrupted that time.

[2021-02-19 05:46] #80 closed

[2021-02-19 05:53] git-bruh opened #131 "i3: bash is make dep"
@Ominitay

[2021-02-19 12:44] Ominitay commented on #131
Yep, I haven't yet got around to doing that. I'll have it done by Saturday afternoon probably.

[2021-02-20 07:55] git-bruh opened #133 "gnutls: libidn2 is not a dep?"
@Vouivre `gnutls` seems to build fine without `libidn2` which doesn't seem to be present in any repo either.

[2021-02-20 16:03] Vouivre commented on #133
HHmmm, interesting. I build all my packages in a chroot before I push them in the repo. That's right, it builds fine. I have removed
this dependency. Thanks!

[2021-02-20 16:03] #133 closed

[2021-02-20 19:43] Vouivre commented on #133
Sorry, I forgot to adapt the package version. Fixed.

[2021-02-23 00:04] Xeno-Hypster opened #146 "Dropping mpd"
Switching back to cmus over mpd, so I'm not going to be maintaining mpd anymore.

[2021-02-23 04:06] #120 closed

[2021-02-24 04:34] git-bruh commented on #97
@dilyn-corner will be handling such issues, since they're the BDFL now.

[2021-02-24 04:34] #97 closed

[2021-02-28 18:21] #131 closed

[2021-03-02 02:30] Neustradamus opened #160 "ppp 2.4.9"
Can you update PPP to 2.4.9?
- https://github.com/kisslinux/community/tree/master/community/ppp

Source:
- https://github.com/ppp-project/ppp

Ping: @onodera-punpun
cc @ArmaanB

Linked to:
- https://github.com/kisslinux/community/issues/1750

[2021-03-03 01:07] dilyn-corner commented on #160
`ppp` was dropped here aa5f7d3572a1f02355077d62d20b9648459a0258

One could always ask for it back with a PR :)

[2021-03-03 01:08] dilyn-corner commented on #31
Closing this as it's resolved

[2021-03-03 01:08] #31 closed

[2021-03-03 01:20] dilyn-corner commented on #146
Due to lack of interest, `mpd` dropped. `mpc` goes with it. 6b0d5b35e1db862ce6a73cc9d395205c294504a3

[2021-03-03 01:20] #146 closed

[2021-03-03 14:37] artemkobets opened #165 "djvulibre: checksum mismatch"
Getting checksum error when trying to build djvulibre.

Maintainer ping @ectlunya

[2021-03-03 14:55] artemkobets opened #166 "Dropping slmenu"
The original repository for slmenu package can no longer be accessed - https://bitbucket.org/rafaelgg/slmenu/

This program didn't receive active updates for several years now, so keeping it in would just be a matter of hosting a cloned git repo somewhere.
Since I'm not using this program anymore, I'm writing here to see if anyone would like to keep maintaining, before I create PR to remove it fro

[2021-03-06 10:34] #166 closed

[2021-03-09 00:36] kyx0r opened #175 "chromium: inspect bug"
I've updated to version ...-180 from ...150

Everytime I try to inspect element on the page nothing happens, but in the console there is this error:

[4423:4423:0308/193307.086765:ERROR:CONSOLE(7)] "Uncaught (in promise) ReferenceError: Intl is not defined", source: devtools://devtools/bundled/i18n/i18n.js (7)

It looks like some js broke

[2021-03-09 11:37] git-bruh commented on #175
This is caused by me experimenting with flags, `v8_enable_i18n_support=false` (tried to drop icu, but it's required by devtools so have removed the flag now). Will be fixed when i send a PR to update to ver 89 (Just waiting for ungoogled-chromium to release a new patchset tarball).

[2021-03-10 00:16] dilyn-corner commented on #165
I've gone ahead and fixed the checksums.

@ectlunya has been inactive for a while, but none of their packages are outdated for now. If it happens, they'll probably be considered orphaned.

[2021-03-10 00:16] #165 closed

[2021-03-10 00:17] #160 closed

[2021-03-10 14:19] #175 closed

[2021-03-11 01:55] noocsharp commented on #77
Closing as I no longer use chromium, and nobody else seems interested in this.

[2021-03-11 01:55] #77 closed

[2021-03-14 21:39] dilyn-corner opened #197 "Outdated Packages"
Here are some outdated packages! Some are quite ancient, others were updated very recently. I've also included some packages I de-facto maintain and will continue to do so unless someone wants to bear the burden :)

This is more of a gentle nudge than a "How could you do this to us" thing. Submit PRs at your earliest convenience! But let it be soon(tm).

- [ ] `rage` - 0.5.0 -> 0.5.1 (29 days)

[2021-03-14 21:42] mmatongo commented on #197
Good Lord that's a lot of slack on my part, so sorry.

I've been so held up with irl stuff but I'll try clear this out by tomorrow.

[2021-03-15 03:04] noocsharp commented on #197
😐

[2021-03-15 03:14] dilyn-corner commented on #197
:eyes:

Very easy packages to maintain...

[2021-03-15 04:04] git-bruh commented on #197
@konimex `age` was your package, do you still want to maintain it ?

[2021-03-15 04:11] dilyn-corner commented on #197
Note that I'm not specifically saying it's outdated here and need to be updated to a release candidate.

[2021-03-15 11:54] dantehaversham commented on #197
I'll take:

shellcheck-bin
sbase
ubase
sinit
pfetch
neofetch
patch
aria2

[2021-03-15 14:18] Vouivre commented on #197
I take `pandoc-bin`. I don't use `discount`, but I could take it if you want to.

I have to think about `luajit`, perhaps I'll take it.

[2021-03-15 17:03] noocsharp opened #217 "age: age-keygen broken"
It links against `/lib64/ld-linux-x86-64.so.2`, which doesn't exist on musl. To fix it, I got rid of the `-buildmode=pie` option, which seems to make it link statically.

[2021-03-15 17:20] dilyn-corner commented on #217
@konimex

This is a stupid bug Alpine ran into years ago https://github.com/golang/go/issues/18243 and they dropped the fix for it because "`bash.make` now support the Alpine work around just fine". Which is... Not a solution to the problem?

[2021-03-15 17:56] noocsharp commented on #217
And people wonder why C is still used...

[2021-03-15 18:01] mmatongo commented on #197
I'll take `neovim`, I wanna do something real quick.

[2021-03-15 18:22] noocsharp commented on #217
Yeah, I'll just add that line to our `go` package and call it a day.

[2021-03-15 19:32] #217 closed

[2021-03-20 08:36] mmatongo opened #234 "wget build failure"
[code]

`wget` fails to build on my system with `icu` version 68.2

[2021-03-20 09:38] git-bruh commented on #234
Your `libpsl` might be linked against an old version of icu, latest icu is `68.2` (`/usr/lib/libicudata.so.68.2
`) hence the missing symbols. Rebuilding `libpsl` and then `wget` should fix it. Build works fine here.

[2021-03-20 10:04] mmatongo commented on #234
I figured that as well, managed to build it a while ago.
Wouldn't incrementing the build number solve that seeing as it has to relink?

[2021-03-20 14:56] kyx0r opened #236 "chromium build fail, yet again! (missing libavcodec.so)"
[chromium.LOG](https://github.com/kiss-community/repo-community/files/6175818/chromium.LOG)

Error loading shared library libx265.so.192: No such file or directory (needed by /lib/libavcodec.so.58)
Error relocating /lib/libavcodec.so.58: x265_api_get_192: symbol not found

[2021-03-20 15:03] kyx0r commented on #236
Ok it makes no sense why that happened I will rebuild ffmpeg and try making chromium again

[2021-03-20 16:07] kyx0r commented on #236
Ok, reinstalling ffmpeg fixed the chrome build. @git-bruh any input on what might of happenned? If not then close the issue I guess.

[2021-03-20 16:09] kyx0r commented on #236
Maybe result of this ???? https://github.com/kiss-community/repo-main/issues/24

[2021-03-20 16:14] git-bruh commented on #236
`x265` was recently updated, my existing chromium broke too but you can just symlink the new x265 lib to the old name and it should work. You rebuilt ffmpeg to link against the new x265 hence it worked.

[2021-03-20 16:37] kyx0r commented on #236
Ok, I would you say that this kind of dependency error may be impossible to track down in a package manager in a simple way?

[2021-03-20 16:38] kyx0r commented on #236
If we were to make kiss smarter, how would it know that ffpmeg needs to be rebuit also? :/

[2021-03-21 04:49] git-bruh commented on #236
I don't think that the package manager should be taking care of this, the release numbers for the packages should be bumped instead, like https://github.com/kiss-community/repo-community/issues/234.

[2021-03-22 04:00] #234 closed

[2021-03-22 04:03] dilyn-corner commented on #236
It's more about smart maintainers in this case. I hadn't realized `x265` used library-breaking sonames.

I bumped the `ffmpeg` relver to resolve this, and I'll have to watch `x265` when it inevitably happens again after *checks notes* fourteen months of inactivity.

[2021-03-22 04:03] #236 closed

[2021-03-23 19:49] mmatongo commented on #197
`croc` is up to date, I'll be updating tor today.

[2021-03-24 14:16] kyx0r opened #244 "kiss update: Wayland??? How???"
Well certainly that was not there before. Where the hek did wayland dependency come from?
![2021-03-24-091225_1047x728_scrot](https://user-images.githubusercontent.com/33268383/112325326-7d097480-8cab-11eb-8334-f61dab05f5a1.png)

[2021-03-24 16:50] dilyn-corner commented on #244
This is the fault of `libva`; the wrong depends/build file were carried over from my own repo. Apologies, fixed in 52edae262d5213cfab07a9928c502428d4be2af4

[2021-03-24 16:50] #244 closed

[2021-03-26 00:03] kyx0r opened #246 "chromium: build fail multiple definition of 'enum _VA_TEE_EXEC_FUNCTION_ID'"
[chromium.LOG](https://github.com/kiss-community/repo-community/files/6208515/chromium.LOG)

I don't really know what happened I was just testing out my new TOP AMD Ryzen 7 PRO 4750G performance on chromium but then it failed like that

[2021-03-26 00:44] dilyn-corner commented on #246
There is an issue with chromium and libva 2.11 I am troubleshooting. 

You can either remove libva or downgrade to 2.10. 

Mar 25, 2021, 8:03 PM by ***@***.***:

[2021-03-26 18:11] dilyn-corner commented on #246
Update:
Still haven't looked super closely at your log (or mine), but the biggest issue seems to be that some things are being redefined (they're defined by files provided by system `libva` but also ones provided by bundled `libva).

Adding `libva_protected_content` to the list here https://github.com/kiss-community/repo-community/blob/0a3a95dea85ed46afa753348f7ba39dc3d5bb243/community/chromium/bu

[2021-03-26 23:03] dilyn-corner commented on #246
Update:

Just remove the redefinitions from the third_party header. I imagine this is the solution `chromium` devs will come to when they get around to making a new release... I leave it to @git-bruh to apply these, but you can do it yourself in the meantime!
[code]

[code]

[2021-03-30 13:43] #246 closed

[2021-04-01 14:22] git-bruh opened #261 "gnutls: changes required for glib-networking"
@Vouivre Hi, `glib-networking` 2.68.0 seems to require gnutls built with `p11-kit` support (`undefined reference to gnutls_pkcs11_*`), the following changes to the `gnutls` package are required:

* Add `p11-kit` to the `depends` file.
* Remove `--without-p11-kit` from the `build` file.

I tried building `glib-networking` with `libressl` instead of `gnutls`, but it needs `openssl`, `libressl` build

[2021-04-01 20:07] dilyn-corner commented on #261
The only thing mentioned in the NEWS for `glib-networking referring to `p11-kit` is this blurb:
[code]
Though that is from version 2.31.2 - if something changed it's a little rude of them to not mention it. Did you do any extensive looking into this? It looks like Void/Alpine have always used `p11-kit` with their `gnutls` so it's hard to tell.

[2021-04-02 06:23] Vouivre commented on #261
I'll wait for your confirmation to do the change. If it can wait a few days, I can also have a look at it later.

[2021-04-02 07:32] git-bruh commented on #261
Looks like the issue was introduced in [this commit](https://github.com/GNOME/glib-networking/commit/9b3d30e40f306f0e36e2a396d3b6df1edeea9f21#diff-89466e5c89397275f16b9dcba25fdb8ff7b14b1d4fdedd6fa20b8d3656ccf8b6R599) after they re-added `pkcs#11` support. It builds if i do a hack like [this](https://0x0.st/-bDz.patch
) in 2 places where `gnutls_pkcs11_init` and `gnutls_pkcs11_add_provider` are use

[2021-04-02 14:24] git-bruh commented on #261
just stopped the tests from being built

[2021-04-02 14:24] #261 closed

[2021-04-02 14:54] dilyn-corner commented on #261
For those curious, you can see that the tests are the only problem when building `gnutls` without `p11-kit`.

[2021-04-02 15:35] git-bruh commented on #261
(webkit also warns (since `glib-networking` 2.66.0, and earlier too probably) about the requested gnutls pkcs11 module not being loaded (not found) but that doesn't really matter since the core tls/ssl stuff works fine with `gnutls`, can be suppressed by `export GIO_USE_TLS=gnutls`, i guess the defaults were changed at some points to always try to load the pkcs11 module)

[2021-04-03 15:13] Vouivre opened #268 "ytfzf: package without all features ?"
Hello,

I use `ytfzf` to watch some videos on youtube. It's available here:

https://github.com/pystardust/ytfzf

Recently I had to install a new version and I noticed now there are some
releases. So even if it's a shell script, it would make sense to create a package. This script can be used with:

- dmenu
- fzf
- ueberzug

`dmenu` and `fzf` are packaged, but `ueberzug` is not packaged. I don't u

[2021-04-05 11:55] git-bruh commented on #268
You should just add a message in `post-install` asking the user to install one of either `dmenu` or `fzf` rather than forcing something in the `depends` file.

[2021-04-05 12:01] Vouivre commented on #268
Good idea! Normally I don't use `post-install`, so I didn't think about it.

It remains `ueberzug` which I don't really want to package. It works fine without it.
Is it a problem if the package doesn't offer all features ?

As I can see `ueberzug` require multiple python modules. In that case the user could install them with `pip`.

[2021-04-05 12:08] git-bruh commented on #268
Yeah they could locally `pip install` it, I don't feel that it's a problem cuz `ueberzug` seems to be needed only for thumbnails. It's good to not pollute repo with `python-*` cruft.

[2021-04-05 12:19] Vouivre commented on #268
Fine, thanks! So I'll package it.

[2021-04-05 12:19] #268 closed

[2021-04-05 13:43] dilyn-corner commented on #268
`python*` cruft is a fun point that we [get to break new ground on](https://freenode.logbot.info/kisslinux/20200210#c3222008).

I hate `python-*` and wish there was a *good* way to use `kiss` to abuse `pip`, `npm`, et al. But I trust users to know their $LANG package manager more than I want to fill community up with 600 packages that amount to `pip install yet-another-dependency`.

A `post-instal

[2021-04-16 06:48] git-bruh opened #300 "libgit2: missing dependency"
@mmatongo `libgit2` seems to be missing a dependency on `cmake`. Also nothing actually builds against`libgit2` (which is only packaged as a static library) due to undefined references symbols provided by `zlib`, `pthread` etc. So `-lz -lpthread -lcrypto -lssl` need to be passed manually (There's nothing in the pkgconfig file either). It works fine without intervention if there's a shared lib avail

[2021-04-16 07:39] mmatongo commented on #300
I'll fix the dependency.

Dylan mentioned that nothing builds against `libgit2` when I first made the pull for it and the conclusion of that discussion I think was that it was better to have it in the repos and not need it than to need it and not have it.

At the time I was using `stagit` heavily so it benefited me to have it in the community repos so I didn't have to think too much about it shoul

[2021-04-18 03:13] dilyn-corner commented on #300
Closed by #304

[2021-04-18 03:13] #300 closed

[2021-04-19 19:31] kyx0r opened #309 "surf: white screen bug"
It's likely a system library bug, but when I go to paypal.com using surf, I get the page loaded for ~2 seconds fine but then it immediately turns white. I have tested my surf build on different kiss rigs and they all have same bug. I have also tested same exact surf version on arch-linux webkit2gtk 2.32.0 version seems to be the same as current but this bug does not happen.

[2021-04-19 19:34] HellMederimBoy commented on #309
I had the same problem, I thought it was the webkitgtk compile.

[2021-04-19 19:37] kyx0r commented on #309
Did you manage to fix it? How? Recompile webkitgtk? It is a compliler bug?

[2021-04-19 19:38] dilyn-corner commented on #309
@git-bruh is this one of those 'known problems and surf is just hopeless here' cases or one of those 'we've probably done something horribly wrong' cases?

[2021-04-19 19:40] HellMederimBoy commented on #309
I don't fixed i just leave it. Maybe is webkitgtk, compile a yourself webkitgtk maybe solve the problem.

[2021-04-19 20:09] kyx0r commented on #309
Maybe this patch is broken? https://github.com/kiss-community/repo-community/blob/main/community/webkit2gtk/patches/icu-69.patch

[2021-04-20 00:11] ArmaanB commented on #197
I can take rclone (should @xuxiaodong not want it anymore), exa (should @kiedtl not want it anymore), and scdoc.

[2021-04-20 03:39] git-bruh commented on #309
@dilyn-corner It seems to happen with `lariza` too so I don't think it's a surf bug.

@kyx0r For me this bug only happens on paypal, and also duckduckgo doesn't load (never did for me), just white screens without showing anything, can you confirm ?

[2021-04-20 04:01] HellMederimBoy commented on #309
Same for me, duckduckgo not load

[2021-04-20 04:28] kyx0r commented on #309
@git-bruh Yes, I confirm duckduckgo.com doesn't load. Which is ... actually I remember now this bug dates back 5 month's or more ago, and probably was the reason why I changed my search engine to the lite version. See this commit in my custom build: https://github.com/kyx0r/klec/commit/7748179bb94860ec7241f6e88e8ac127186ef525#diff-0199311728be829918c18b5f1486d315ba690ed58b69b4c8236a16416130bcd2

[2021-04-20 04:35] git-bruh commented on #309
Fixed it, on glibc atleast by switching from `MinSizeRel` to `Release`. Will experiment with musl now, maybe our musl patch is incomplete cuz i see a lot more stuff in [void's patch](https://github.com/void-linux/void-packages/blob/master/srcpkgs/webkit2gtk/patches/fix-musl-javascriptcore.patch).

[2021-04-20 06:18] git-bruh commented on #309
Paypal should work now with the PR, but duckduckgo still doesn't wanna work on musl, even after defining `__WORDSIZE` (used for some hacks) that the compiler was warning about..

[2021-04-20 13:52] Vouivre commented on #197
At the moment `youtube-dl` can't be updated. On my system I am unable to download some videos. See [here](https://github.com/ytdl-org/youtube-dl/issues/28780).

[2021-04-21 02:56] kyx0r commented on #309
Thank you git bro and everyone else. I really appreciate it man. I hope the issue can be solved completely eventually.

[2021-04-21 05:25] git-bruh commented on #309
No problem, sites like duckduckgo should also be working now, updated the PR.

[2021-04-21 13:22] #309 closed

[2021-04-22 10:11] ilmich opened #320 "Unable to build gnutls"
Hi all,

I'm considering using kiss linux as my main system and I'm doing some testing by compiling the packages I need.
But I'm having trouble compiling gnutls (openconnet is not compatible with libressl).
I can't find the pkg-config package which seems to be needed for dependencies finding.

Where am I wrong !?
Cheers
Michele

[2021-04-22 10:56] sdsddsd1 commented on #320
You have to ping the maintainer of the package that they can do something about this. `kiss-maintainer gnutls` This should be @cedric@vouivre.org .
Also please submit the build log which can be at the end of the failed build.

[2021-04-22 10:58] aaronNGi commented on #197
I can take `9base`.

[2021-04-22 11:01] ilmich commented on #320
Sorry, my fault, the package on kiss linux is named pkgconf .
After installing it the problem was solved.

I'll close the issue
Cheers
Michele

[2021-04-22 11:02] #320 closed

[2021-04-22 11:05] sdsddsd1 commented on #320
This is at least a missing dependency of `pkgconf make` :)  for the package.

[2021-04-22 21:08] Vouivre commented on #320
I'll check it, thanks for the report! :+1:

[2021-04-23 14:44] kyx0r opened #326 "flashrom: build fail"
I may need this in some time; to get a custom bios rom into one of my computers. Build does not work on my end.
[flashrom-2021-04-23-10:37-10385.LOG](https://github.com/kiss-community/repo-community/files/6366088/flashrom-2021-04-23-10.37-10385.LOG)

@ioraff

[2021-04-23 15:12] ioraff commented on #326
I'm no longer maintaining this @dilyn-corner

[2021-04-23 15:19] dilyn-corner commented on #326
Builds fine for me (after disabling Werror, `clang` must be more strict than `gcc` here...).

Your problem is probably with this line:
`Checking for libpci headers... Checking for FTDI support... not found.`

Are you sure `pciutils` is installed?

[2021-04-23 15:23] kyx0r commented on #326
![2021-04-23-112155_408x104_scrot](https://user-images.githubusercontent.com/33268383/115893445-b6b6d200-a447-11eb-8be7-5c3923904230.png)

Yes I do.

[2021-04-23 15:26] kyx0r commented on #326
@dilyn-corner @ioraff Ok, never mind guys. Sorry for bother it works. I just had to reinstall pciutils for some reason. Well happens sometimes...

[2021-04-23 15:26] #326 closed

[2021-04-23 15:34] dilyn-corner commented on #326
Strange. If this happens again (specifically for this package but in general for any package), seeing `kiss-manifest pciutils` would be nice, as well as the output of something like `pkg-config --libs libpci`.
Additionally, `flashrom` runs a test for `libpci` in the usual way; seeing the output of `$(BUILD_DETAILS_FILE)` in the failed build would identify what exactly went wrong, as it doesn't use

[2021-04-23 15:43] kyx0r commented on #326
@dilyn-corner There may be one thing that is special about the computers I run, I have a script which makes the whole system run in tmpfs with no hard drive. See here: https://github.com/kyx0r/klec/blob/master/shell/migr . This way I don't have to invest in extra hardware. But there is one caveat to this that techically tmpfs is not a real filesystem, it's a swap and it has no real block device ba

[2021-04-23 16:03] kyx0r commented on #326
@dilyn-corner
Here is what output of kiss-manifest pciutils looked like:
[manifest_afterreinstall.LOG](https://github.com/kiss-community/repo-community/files/6366645/manifest_afterreinstall.LOG)
[manifest_prev.LOG](https://github.com/kiss-community/repo-community/files/6366646/manifest_prev.LOG)

[2021-04-23 16:06] kyx0r commented on #326
And running ```pkg-config --libs libpci```
gives

/ pkg-config --libs libpci
Package libpci was not found in the pkg-config search path.
Perhaps you should add the directory containing `libpci.pc'
to the PKG_CONFIG_PATH environment variable
Package 'libpci', required by 'virtual:world', not found

after reinstall it prints
-lpci

[2021-04-23 16:09] kyx0r commented on #326
It maybe it was messed up because a few month's ago I was building chromium build, which had build problems, see the issue here https://github.com/kiss-community/repo-community/issues/53

[2021-04-23 16:16] dilyn-corner commented on #326
What a very neat system idea! I love it.

Looks like the former version you had didn't actually have the pkgconf file or the headers - very hard to build things when that happens. Not sure why that would happen (though I have a few ideas). You could try to run `kiss` how it is mentioned [here](https://freenode.logbot.info/kisslinux/20210412#c7605896) to see if `kiss` is fumbling this somehow.

Thi

[2021-04-23 18:02] kyx0r commented on #326
[flashrom.LOG](https://github.com/kiss-community/repo-community/files/6367251/flashrom.LOG)

Here is the output of ```sh -x $(which kiss) b flashrom >file 2>&1```
Not sure if you can make out anything useful out of it, but I might as well run all my updates and installs though this in the future just in case. @dilyn-corner

[2021-04-24 15:21] kyx0r opened #331 "webkit: not capable of solving reCAPTCHA"
Hello @git-bruh there is still a problem, the browser can't solve the reCAPTCHA.
I use this for testing https://patrickhlauke.github.io/recaptcha/
The initial I am not robot box load now, (with the previous version it would never load at all)
but when I click that square nothing happens and after a while I see this:
![2021-04-24-111932_1010x611_scrot](https://user-images.githubusercontent.com/3326

[2021-04-25 04:16] git-bruh commented on #331
On my glibc chroot I'm able to load the captcha
![2021-04-25-093826_956x538_scrot](https://user-images.githubusercontent.com/67585967/115980444-4c537e00-a57c-11eb-9725-8ed694a9ca3d.png) but on musl it doesn't work... Both are built with same config, I'll experiment with a few options still. Could you try installing a webkit browser in a void chroot and see if it works there since we're using the s

[2021-04-25 13:35] kyx0r commented on #331
I have a working void-musl install and it seems like I am up to date with the repos. However, the reCAPCHA does not even load.
![2021-04-25-083328_737x388_scrot](https://user-images.githubusercontent.com/33268383/115995529-26a19580-a5cb-11eb-8c5b-c4bd76bd80c4.png)
![2021-04-25-083438_1290x154_scrot](https://user-images.githubusercontent.com/33268383/115995531-26a19580-a5cb-11eb-844a-ffc2747b7603.p

[2021-04-25 13:40] kyx0r commented on #331
There are interesting points, the paypal.com works, but duckduckgo doesn't maybe they haven't updated their repos yet?? Or that fix is not in ? I may need to actually build it from source so be sure.

[2021-04-25 14:46] kyx0r commented on #331
Damn it... I can't build void packages because my kernel does not support xbps-uunshare, hold this will take a bit longer to setup

[2021-04-26 03:37] kyx0r commented on #331
@git-bruh Well I failed to setup a test void chroot build enviroment, and maintainer over there does not care about us, nor the packages so I be debugging this by myself for now. However I did pull their latest webkit_2 binary version that the same bug is present there too, so I guess no point in void build at all.

[2021-04-26 04:47] git-bruh commented on #331
I see some instructions [here](https://trac.webkit.org/wiki/WebKitGTK/Debugging) to debug, but I'm not sure if anything related to the issue we're having here would show up in logs since it's not a crash, also logging support is enabled by the `-DUSE_SYSTEMD=ON` option so i guess some systemd libraries are require to build it :confused:

[2021-04-27 22:01] q66 commented on #331
https://github.com/void-linux/void-packages/commit/b0b0bbe0ad217f9239282898ae65e7767d4704d9

[2021-04-28 02:52] dilyn-corner commented on #331
Void might not care about us, but they sure are helpful.

[2021-04-28 21:14] #331 closed

[2021-04-30 08:20] git-bruh opened #339 "libtermkey: fix patch"
Hi @dantehaversham, the libtermkey build can fail on certain systems if the `ncurses` pkg-config file specifies some LDFLAGS (`pkg-config --libs ncursesw: -Wl,-O1 -Wl,--as-needed -O3 ...`), so an extra `-Wl` is added which causes the linker to error out. The solution is to modify the patch like [this](http://0x0.st/-abM.diff). The `-rpath` flag is not really needed here anyways. The patches can al

[2021-04-30 08:47] dantehaversham commented on #339
This looks great, I'll go ahead ans open a pull request with these changes when I get home.

[2021-05-03 18:03] jslick commented on #197
fwiw, I'm well-aware there are updates to protobuf, but they are only for ruby, and protobuf is currently only depended on by mosh and android-tools, so I was ignoring it.

[2021-05-03 18:25] dilyn-corner commented on #197
That's fine by me; thanks for letting me know!

[2021-05-08 08:43] illiliti opened #367 "qemu: build is broken"
log:
https://termbin.com/1s5r

fix:
Replace patches/002-syscall.patch with https://git.alpinelinux.org/aports/tree/community/qemu/fix-sigevent-and-sigval_t.patch (not sure if this is proper fix though)

also:
https://github.com/kiss-community/repo-community/blob/1d1a462bdacccf087cbd9c306f21e3324abc8cd9/community/qemu/build#L8
This sed call doesn't trim bash-specific `-o pipefail`.

also 2:
Looks l

[2021-05-08 08:56] sdsddsd1 opened #368 "qt5-webengine: incomplete package"
@dilyn-corner : Have a look at qt5-webengine. There is a lonely patch floating around. (incomplete commit)

[2021-05-09 18:11] jedavies-dev commented on #367
Hi @illiliti
This build worked and ran OK for me starting from a clean KISS chroot and doing "kiss b qemu".

I think the error may be due to other packages you have installed on your system, since the qemu build will enable various features depending on what you have installed. This is not ideal and I think we should explicitly disable more options in the build file to make the build more predicta

[2021-05-10 21:12] dilyn-corner commented on #367
Directly building with `meson` did not work for me, and I was also able to build `qemu` in a (relatively clean) chroot. I see no good reason not to add that last bit of the Alpine patch.

I think `qemu` is complicated enough that it warrants specifying a base set of things to include and disabling the rest, if only for the sake of broad system compatibility - like @jedavies-dev said, users who hav

[2021-05-10 21:42] sdsddsd1 commented on #368
This one: https://github.com/kiss-community/repo-community/blob/main/community/qt5-webengine/dbus-patch.patch

[2021-05-10 21:56] dilyn-corner commented on #368
oh my goodness.
4569f797356cc598528caf62def401fa1a894fe3

[2021-05-10 21:56] #368 closed

[2021-05-11 06:10] illiliti commented on #367
Me too. Rootfs that i used to build qemu: https://github.com/kiss-community/repo-main/releases/download/2021.5-1/kiss-chroot-2021.5-1.tar.xz

Sorry, termbin truncated log for some reason.

Full log: https://envs.sh/Uu.txt
kiss list: https://envs.sh/UF.txt

That would be awesome.

`-cpu host` did the trick. Thanks for the tip!

[2021-05-13 14:05] dilyn-corner commented on #367
Strangely, I yet again cannot build `qemu` in a very fresh chroot, but I CAN build it on my normal system. And i run into the same error @illiliti has.

[2021-05-14 15:44] sdsddsd1 opened #385 "webkit2gtk: make gstreamer optional"
@git-bruh : Since version 2.32.1 there is also a fix for disableing video again.

[code]

[2021-05-15 13:01] #385 closed

[2021-05-16 18:29] dilyn-corner commented on #197
`libxml2` is also outdated; I'd rather not use the upstream http source and the GNOME gitlab source requires `autoreconf`. So either I'll be hosting one of the two, probably. Unless fossies updates soon...

[2021-05-18 15:27] dilyn-corner commented on #367
Closed by 96c0d9b1bbc546a50c4cefa1642898df04533121

[2021-05-18 15:27] #367 closed

[2021-05-18 15:27] dilyn-corner commented on #339
Ping @dantehaversham

[2021-05-20 05:16] AndreiSva opened #401 "Neovim build fails with "ninja: subcommand failed""
I'm trying to build neovim on kiss running the `kiss build neovim` command. Unfortunately this always results in an error message: "ninja: subcommand failed". Unfortunately i can't offer a text error message because my curent KISS install is in a virtual machine. Here is a screenshot of the error.

![image](https://user-images.githubusercontent.com/51296839/118922956-b5b27c80-b8ef-11eb-8e46-6f8b49

[2021-05-20 14:07] dilyn-corner commented on #401
I made an issue about this here https://github.com/neovim/neovim/issues/14362 but they haven't done anything about this yet...

I'll probably just change the source.

[2021-05-20 14:19] #401 closed

[2021-05-20 14:20] dilyn-corner commented on #401
Changed the source, you should be good to go now.
We'll change back once they've *finally* released a new version :)

[2021-05-21 07:47] git-bruh opened #403 "catgirl: missing dep on pkgconf"
@aabacchus﻿

[2021-05-21 14:52] dilyn-corner commented on #403
c33a2ff0fc85b81dc215ecbab3423d8b43bc6df6 && db6637bfa1f446ff9d8d41f83c076570c5382e11

[2021-05-25 06:35] Vouivre commented on #197
I think we have to switch to the openprinting fork of cups. You can read here for some information:

https://www.phoronix.com/scan.php?page=news_item&px=Apple-No-More-CUPS

The last version of this fork is: `2.3.3op2`. Is it ok for `kiss` if the version has some letters ? I saw Carbs Linux did the switch, so I assume it will work, but I want to make sure.

[2021-05-26 21:08] sdsddsd1 opened #423 "aerc: add GOPATH and GO111MODULE"
@38061852+muevoid@users.noreply.github.com

Adding the following to the build script prevents cluttering $HOME with GO stuff. Are you still around? I havent seen you in a while.

Greetings.
[code]

[2021-05-27 13:38] dilyn-corner commented on #197
Yeah, `cups` was "forked" recently (this is I think the third time the `cups` dev has done this to his own project, and the second time Apple paying him to port his patches to their version... smh clever man).

Letters are fine. Whatever the actual version string reported by repology is is preferred, usually.

[2021-05-31 08:26] Vouivre commented on #197
At the moment, the updated packages are not reported on repology. I don't know what must be done. I can help to solve this
issue.

[2021-06-03 16:09] dilyn-corner commented on #197
What do you mean, @Vouivre?

[2021-06-03 17:01] sdsddsd1 commented on #197
Repology does not update the package database for some days.
https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2021-06-03 17:31] Vouivre commented on #197
Exactly! Another example is gnutls.

[2021-06-03 18:09] dilyn-corner commented on #197
Ah, I see what you're saying. I'm not so worried about that.

[2021-06-03 19:37] Vouivre commented on #197
I use repology to know which packages are outdated. I can also switch to `kiss-outdated`, but it's slower.
I could live with it, but I think it would be good that repology show the packages which are really outdated.

Should I have a look at it ?

[2021-06-04 06:57] dilyn-corner commented on #197
A look at making `kiss-outdated` faster? I feel like someone (@aaronNGI ?) already looked at this with `awk` or something?
Unless you mean changing what repology does. In that case, eh. I am not so worried.

I should make this clear: just because a package is on this list (or isn't) doesn't mean I'm badgering you to update it ASAP. It's just
1) a better way for people who might want to get involve

[2021-06-04 13:16] Vouivre commented on #197
Thank you for mentioning that somebody tried to write another version. `awk` ? I could be interested.

Thank you for clarifying this issue. I still had in mind this kind of issue with dylan: the idea was to open such an issue and
to close it when almost every packages had been updated.

Time for me to think about the best way to get notified when a package has to be updated.

[2021-06-04 19:40] aaronNGi commented on #197
That was `kiss-orphans`.  I can certainly try and optimize `kiss-outdated` as well.

[2021-06-04 21:49] aaronNGi commented on #197
I forgot I actually improved kiss-outdated. It depends on `jq` though. The problem with the original script: It calls a `curl` (and some other utilities) per package of a repo.

Here it is:

[code]

[2021-06-05 11:27] sdsddsd1 commented on #423
After 2 weeks of my initial comment I would sent a PR wit my proposed changes. Is this ok, since the user seems to be inactive?

[2021-06-06 05:48] Vouivre commented on #197
It's much faster, thank you. Unfortunately it doesn't work because I get the same information as on repology. `gnutls` for example is not outdated and with this script It's given as outdated. `kiss-outdated` gives the correct information.

[2021-06-06 10:49] aaronNGi commented on #197
Yes, it uses the repology API, so it is the same as what you see on the website. The original script downloads an svg image for every package which contains the latest version number, which is then compared to the version in your local repo on disk. The question is why is repology wrong in the first place?

I could update the script to compare every outdated package, as received from the repology

[2021-06-06 13:04] git-bruh commented on #423
I think it didn't ping them since you typed out an email address instead of the username.﻿

[2021-06-06 13:07] Vouivre commented on #197
I'll clarify it. In between I have written a small script to know which packages are outdated. Not perfect, but it does the job.

[code]

Just replace with your packages. Perhaps it can be useful to somebody.

[2021-06-06 13:46] sdsddsd1 commented on #423
@muevoid does not work.

[2021-06-06 14:31] dilyn-corner commented on #423
I've also only seen Muevoid once in the last year, so I think it's somewhat safe to assume they're /busy/.
Feel free to submit a PR :)

[2021-06-06 14:59] sdsddsd1 commented on #423
Done.

[2021-06-06 14:59] #423 closed

[2021-06-06 16:21] dilyn-corner opened #455 "i3 version file is broken"
@ominitay

Something terrible happened when we merged your last commit :)

[2021-06-06 21:36] Ominitay commented on #455
ohhhh i see :/ let me fix that really quick
i'm disappointed i didn't notice it

[2021-06-07 00:04] dilyn-corner commented on #455
Don't sweat it. That it wasn't discovered until now is interesting to note!

[2021-06-07 00:04] #455 closed

[2021-06-07 08:15] Ominitay commented on #455
For sure! I guess we'll need to keep an eye out for erroneous line-breaks in future.

[2021-06-10 17:46] #339 closed

[2021-06-13 12:39] diamant711 opened #475 "Missing GPG signature on the last commit 73b1f1e"
Hi! I am really enjoying KISS Linux!
Today I tried to update the system using the `kiss update` command, and I recived this error:
`fatal: Commit 73b1f1e does not have a GPG signature.`
I think it's a problem with this commit but I don't rule out that i may have done something wrong with my KISS build.
Let me know! :D

[2021-06-13 16:27] dilyn-corner commented on #475
Checkout some of the older messages [here](https://freenode.logbot.info/?q=signed&ch=kisslinux&w=a) - this is a known issue, but it's not related to `kiss`. It's a `git` thing.

[2021-06-13 16:27] #475 closed

[2021-06-15 05:56] git-bruh commented on #197
lld is outdated and cant be built with LLVM 12.

@Ominitay  �

[2021-06-15 21:20] Ominitay commented on #197
Will take a look now. Was looking at updating it when LLVM 12 came out, but the LLVM package hadn't been yet updated.

[2021-06-16 12:56] Ominitay commented on #197
I have it working now. There's a bug in LLVM 12 which I had to address by bringing in a file from another source; will send a PR soon!

[2021-06-16 14:44] Ominitay commented on #197
Updating Zig as well now (will need to wait to compile Clang unfortunately)

[2021-06-16 15:40] Ominitay commented on #197
Unfortunately updates made to Zig mean that we can no longer use LLVM built without default targets. Should we drop Zig?

[2021-06-16 16:00] mmatongo commented on #197
You can chuck over to [mmatongo/kiss-lang](https://github.com/mmatongo/kiss-lang) if it ends up getting dropped.

[2021-06-16 16:03] Ominitay commented on #197
I already have Ominitay/kiss-zig, but inclusion in kiss-lang may be a good idea!

[2021-06-20 19:05] Ominitay commented on #197
Since kiss-community/repo#44 has now been closed, I have submitted a PR to drop `zig[-git]`.

[2021-06-22 17:39] dylanaraps opened #494 "o/"
Hello,

I'd like to first off apologize for my abrupt disappearance from the face of the
earth and the subsequent disruption to the maintenance of KISS. As you are
likely aware, I went through a period of burnout and dropped *everything*.

I've just come back online this month and am slowing reintegrating myself
into my work (among other things). I can't say for certain as to when I'll be
back in

[2021-06-22 17:51] sdsddsd1 commented on #494
o/

[2021-06-22 18:10] dilyn-corner commented on #494
o7

[2021-06-22 19:01] jedahan commented on #494
\o/

[2021-06-22 19:04] aaronNGi commented on #494
Yo Dylan.

Glad to hear you are doing well. I don't think anyone was actually upset when you disappeared. So no bad blood at all and I'm sure everybody would be glad to have you back in irc or even in charge, if you feel like it.

[2021-06-22 19:32] illiliti commented on #494
I'm so glad you're back!

[2021-06-22 21:44] jedavies-dev commented on #494
Great news!

[2021-06-22 21:49] mcpcpc commented on #494
Some of the best news I have heard in a while.  Welcome back! o/

[2021-06-23 01:38] kyx0r commented on #494
o/ glad to witness this historical moment and welcome back. The fate of Kiss has fallen in the hands of right people while you were back, so it still rocks to be the best distr!

[2021-06-23 14:58] artemkobets commented on #197
Hey.
I haven't used or had access to KISS machines for some time now, need to let you know that I won't be able to maintain packages assigned to me:

- less
- man-pages
- man-pages-posix
- sdcv
- xkb-switch
- oath-toolkit
- xmlsec1 (required dependency for oath-toolkit)

None of these have very regular updates, so shouldn't take much effort to maintain if they're any useful. Let me know if there's

[2021-06-23 19:12] AndreiSva commented on #494
Welcome back!

[2021-06-24 05:50] konimex commented on #494
Just a heads-up:
Since freenode's takeover, most of us have moved to irc.libera.chat, run by the old freenode staff pre-takeover.

Also, welcome back!

[2021-06-24 07:23] budRich commented on #494
Nice!

If anything, kiss not going under with your absence, prove that your model of a project that a single person should be able to manage works. Ironically your burn out also prove that it doesn't work ;)

Welcome back!

[2021-06-24 12:58] aaronNGi commented on #197
I will adopt:

* `less`
* `man-pages-posix`

[2021-06-24 13:51] git-bruh commented on #494
👋﻿

[2021-06-25 03:13] Xeno-Hypster commented on #494
Welcome back welcome back!

[2021-06-26 00:33] trunc88 opened #499 "Trouble building qt5 on gkiss"
qt5 build is failing for me on GKISS. Posting the issue here as I don't believe it's glibc related. I apologize if it is. Here's the error:

ssl/qsslsocket_openssl_symbols_p.h:367:29: error: 'BIO_ADDR' has not been declared
  367 | int q_DTLSv1_listen(SSL *s, BIO_ADDR *client);
      |                             ^~~~~~~~
ssl/qsslsocket_openssl_symbols_p.h:368:1: error: 'BIO_ADDR' does not name a

[2021-06-26 02:30] xuxiaodong commented on #494
Welcome back!

[2021-06-26 06:04] dilyn-corner commented on #499
This is a problem specifically with `libressl` and dtls. I was in the process of trying to see what all breaks disabling it, but I've been roadblocked by a `qt5-webengine` problem :)

In the meantime, you can add `-no-dtls` to the `qt5` build script. YMMV.

[2021-06-26 08:01] trunc88 commented on #499
Thanks, that did allow me to successfully compile qt5. Good luck with webengine

[2021-06-27 04:08] noocsharp commented on #197
I think it's about time for me to prune some packages. I will be dropping:
- htop - I use top now
- bash - I never really used it
- cloc - I use gocloc now

[2021-06-27 06:15] Vouivre commented on #494
It's a great moment and I'm really happy to read your words!

Welcome back!

[2021-06-27 09:00] Ominitay commented on #197
I can take `htop`.

[2021-06-27 10:38] subnut commented on #494
Phew! Relieved to see you back.

No. No, I wasn't aware. I was thinking that you were [hit by a bus](https://en.wikipedia.org/wiki/Bus_factor)

[2021-06-28 01:04] sdsddsd1 commented on #499
https://github.com/kiss-community/community/commit/43b4e34209b31c1144ddfe26100e9d7a0458e3d8 needs testing.

[2021-06-28 22:24] tagirov commented on #494
dude!!! glad to see that you're fine

[2021-06-28 22:30] tagirov commented on #494
dude!!! glad to hear you're fine

[2021-06-28 22:31] tagirov commented on #494
dude!!! glad to hear you're well

[2021-06-28 22:32] tagirov commented on #494
dude!!! I'm glad to hear you're well

[2021-06-28 23:19] GullikX commented on #494
o7

[2021-06-28 23:44] xuxiaodong commented on #197
I can take sdcv and cloc.

[2021-06-29 16:15] dilyn-corner commented on #499
@sdsddsd1 confirmed that `falkon` isn't horrifically broken, and that is confirmation enough for me.

We'll have to watch this though (:

[2021-06-29 16:15] #499 closed

[2021-06-29 16:17] dilyn-corner opened #516 "uthash: drop install -t"
@git-bruh

Your friendly neighborhood Midfavila has humbly(?) requested that `uthash` not use install -t because *base.
Also it's not actually required in this case.

[2021-06-29 17:44] SpicyForthProgrammer commented on #28
Any update on the status of JVM?

[2021-07-01 07:22] git-bruh commented on #516
amfora
bkeymaps
chromium
gnu-efi
neomutt
os-prober
protobuf
rbw-bin
refind
restic
runit
uthash
vundle have -t usage too

[2021-07-02 18:43] #516 closed

[2021-07-09 23:05] kyx0r opened #534 "htop: remove python from dep"
Hi @Ominitay

Htop nolonger depends on python.

[2021-07-10 09:10] Ominitay commented on #534
I've just adopted this. Thanks for informing me! I'll get this sorted asap.

[2021-07-10 22:47] #534 closed

[2021-07-12 10:41] konimex commented on #197
Due to my movement to Wayland, I'll drop both `bspwm` and `sxhkd`.

[2021-07-12 10:48] lowercasename commented on #197
As KISS is moving to Wayland I will drop berrywm, unless it makes sense to keep it updated?

[2021-07-12 12:09] sdsddsd1 commented on #197
Somewhere, prob irc, I read that this repository shall stay in line with KISS. For me, that means any software which does not work in a wayland session is purgeable, no? So every windowmanager, X support application.
There is prob stuff which can utilize xorg-libs and libglvnd. I think some guideline would be helpful.
@dilyn-corner , since you control the merge button, I am very interested in your

[2021-07-12 13:21] Ominitay commented on #197
I'll adopt `lvm2`.

[2021-07-12 13:26] dilyn-corner commented on #197
@sdsddsd1 X should live in its repository, if someone has some interest in maintaining a Xorg stack + xorg applications, it's more then welcome to live in this org :)

[2021-07-12 20:36] sdsddsd1 opened #550 "Packages with Xorg dependency"
This should be most of the packages with Xorg dependencies. Feel free to add more suiteable findings and
complete the github usernames :p
I think _most_ of them have to go because they are specific to X.

- [x] 2bwm @Vouivre
- [x] azpainter @Vouivre
- [ ] bdftopcf @aaronNGi
- [x] berry @lowercasename
- [x] bitfetch dylanaraps -> drop
- [ ] brownout
- [x] bspwm @konimex
- [x] conky @dilyn-corner
-

[2021-07-12 21:12] TAAPArthur commented on #197
@dilyn-corner Why are you asking for us to change dependencies from libressl -> openssl? I read your [news post](https://k1sslinux.org/news/20210712a) but it just mentioned that the change was being made didn't give a rationale. If there isn't a reason, I don't wish to comply and `openconnect` can be dropped/adopted.

This is also an example of how being able to change depends via a [hook](https:/

[2021-07-12 21:19] Ominitay commented on #550
Dropping mine #551

[2021-07-12 22:06] dilyn-corner commented on #197
The rationale is that
[code]

[2021-07-12 23:50] TAAPArthur commented on #197
I had intended to inquire as to why the change to openssl was being made...
Re-read the new posts and looked at the [referenced posts](https://kisslinux.xyz/blog/20210711a) and seems like it is largely due to python dropping support for it. And I guess it's too much to just have both...

So thanks. I understand the rationale. I don't agree with it and wish to stop maintaining `openconnect`

[2021-07-12 23:54] Xeno-Hypster commented on #550
Gnuplot currently has an x dependency. That can be switched off, but another a dependency on another backend for interactive plots will need to be made if I don't drop the package. Will sit on that for a tiny bit.

[2021-07-13 00:04] dilyn-corner commented on #550
No "super rush" on dropping these, people will just become a little confused when they no longer build :v

[2021-07-13 00:08] sdsddsd1 commented on #550
To safe some work it would prob be ok to drop multiple packages in a single commit, yeah?

[2021-07-13 00:17] dilyn-corner commented on #550
Are you saying my workflow is bad >=|

[2021-07-13 00:55] Xeno-Hypster commented on #550
Gonna drop this for the time being. PR incoming.

[2021-07-13 01:19] konimex commented on #550
I'll drop all X-related packages with me as maintainer (bspwm, dmenu, lemonbar, picom, rxvt-unicode, xcompmgr).

[2021-07-13 22:51] illiliti commented on #550
@sdsddsd1 you missed some packages

* [ ] alacritty @git-bruh -- append `--features wayland --no-default-features` to `cargo build`
* [ ] chromium @git-bruh -- use ozone-wayland
* [ ] dosbox @jedavies-dev -- does it support wayland?
* [ ] giblib @aicsx -- dependency of scrot
* [ ] grabc @xuxiaodong -- drop due to hard dependency on X
* [ ] mplayer @ilmich -- drop because we have mpv

[2021-07-13 23:27] sdsddsd1 commented on #550
There is a fork of dosbox which introduces sdl2 https://dosbox-staging.github.io/v0-75-0/#sdl2
I build the sourceforge version with sdl12-compat but refuses to start with ` failed to create an EGL window surface`.
Prob. needs libglvnd too.

[2021-07-14 04:23] git-bruh commented on #550
Alacritty is up for grabs, since i don't use it. chromium will be updated on v92 release (1 week).

[2021-07-14 08:18] BrentBoyMeBob opened #573 "Moving xorg to this repository"
Even though KISS is moving towards Wayland, some may be hesitant towards the shift. I'm noticing that packages are already starting to get dropped, and I do think people should have the option to use xorg related programs, even though it will result in more packages. Some people just cannot let go of xorg and some need a certain program that uses it, of which I'm proposing to call the community re

[2021-07-14 09:58] Xeno-Hypster commented on #573
With the shift to Wayland in the main repo, the community repo is moving to support that shift. @dilyn-corner has already indicated as such in his [most recent news post](https://k1sslinux.org/news/20210712a). There is a possibility that the kiss-community/repo will become a community fork for xorg support but you can always fork off an xorg repo or use an [xorg fork](https://github.com/ehawkvu/ki

[2021-07-14 12:38] lowercasename commented on #197
I will stop maintaining `berry` for the time being.

[2021-07-14 15:17] ehawkvu commented on #573
I'd also like to mention that I've been working on saving some of the recently dropped community packages. They're available in my xorg repo under 'community/' if you want to use them.

[2021-07-15 15:20] ProkopRandacek opened #575 "Neovim doesn't compile"
[code]
Probably somewhere missing `mkdir -p` call.

[2021-07-15 16:58] dilyn-corner commented on #575
I don't use `neovim`, and it's honestly too much of a headache for me to constantly be dealing with.

It's very much adoptable right now, if you (or anyone else) would like to pick it up! I'll try and work on this, but something to keep in mind.

[2021-07-17 03:33] dilyn-corner commented on #550
This is a friendly reminder that there is TWO WEEKS to sort all of this out. No need to drag these transitions out any longer than we have to. I'll be ramping up the reminders as we get closer to the end of the month.

[2021-07-17 03:33] dilyn-corner commented on #28
Closed for lack of progress.

[2021-07-17 03:33] #28 closed

[2021-07-17 18:58] BrentBoyMeBob commented on #573
Now that I think about it, that does make more sense, having an optional repository is actually a better approach, as it allows for choice of Wayland or xorg, while also being up to date. It allows both repositories to be more focused, which I definitely respect, since KISS has always been about variety, and there isn't supposed to be one monolithic repository, rather dozens of organized ones.

[2021-07-17 18:58] #573 closed

[2021-07-18 11:44] Vouivre commented on #550
Sorry for the time needed, I was busy and I wanted to take some time to think to this change to wayland for me. I will drop
the necessary packages in the next few days.

[2021-07-18 12:26] sdsddsd1 commented on #550
@Vouivre , if you are going to do the wayland change, there is a direct herbe port. https://github.com/muevoid/Wayherb

[2021-07-18 16:20] e1QXR3o4AlfnrLJsZHj65TGzChF8Mg9E07yIvSV opened #585 "libcap new release (2.51)"
See: https://kernel.org/pub/linux/libs/security/linux-privs/libcap2/libcap-2.51.tar.xz

@mmatongo

[2021-07-18 16:32] mmatongo commented on #585
I just got a new laptop, I'll be updating anything I maintain within the next 2-4 hours

[2021-07-18 16:33] e1QXR3o4AlfnrLJsZHj65TGzChF8Mg9E07yIvSV opened #586 "tmux bugfix release (3.2a)"
See: https://github.com/tmux/tmux/releases

@konimex

[2021-07-18 21:07] Vouivre commented on #550
@sdsddsd1 thank you, I didn't know about the wayland port for herbe! :+1: I wanted to test mako, I will also test wayherbe.

[2021-07-19 04:24] e1QXR3o4AlfnrLJsZHj65TGzChF8Mg9E07yIvSV commented on #586
#589

[2021-07-19 04:24] #586 closed

[2021-07-19 13:25] mmatongo commented on #585
Created a pull request.

[2021-07-19 13:59] e1QXR3o4AlfnrLJsZHj65TGzChF8Mg9E07yIvSV commented on #585
#590

[2021-07-19 13:59] #585 closed

[2021-07-21 17:26] jedahan opened #599 "Checksum cleanups"
There are a number of packages where `sources` and `checksum` have a different number of lines.

I am not sure if they are always supposed to match, so this might be a case where my linter is being too aggressive.

That said, some of the formats are a bit out of date (like aerc-git), so I wanna make a tracking issue and hopefully get the maintainers of said packages to have a look at them. I will

[2021-07-21 21:17] jedahan commented on #599
I think most of these are false errors, i need to be smarted about skipping checksums for `git+git://` entries.

[2021-07-22 11:56] kiedtl commented on #550
I will be dropping `xmodmap`. Will submit a PR soon.

[2021-07-23 07:09] AndreiSva commented on #575
Reproduced. `mkdir`ing the directory before calling make still doesn't result in a successful build :(

[2021-07-24 18:34] dilyn-corner commented on #550
Your friendly neighborhood reminder that we have one week left to find replacements for any of these before they get dropped forcibly :)

[2021-07-24 19:50] dilyn-corner commented on #575
Should be fixed with 1d756260b9f5e650067584128094f88a97fdf94b -- let me know!

[2021-07-24 19:50] #575 closed

[2021-07-25 04:57] git-bruh commented on #197
I don't use 'fmt' or 'iputils', so they can be adopted by others. Will update the rest in a few hours.

[2021-07-25 07:32] AndreiSva commented on #197
fmt is a very widely used library. I'll adopt it.

[2021-07-28 20:04] Vouivre opened #626 "ytfzf: dependency util-linux needed"
At the moment `ytfzf`doesn't work and has to be fixed. The dependency `util-linux` is needed,
more precisely, the command `column` provided by `util-linux` is needed.  I don't know if something
changed with the switch to wayland, because before it was not necessary.... or at the time I created the
package. `column` was introduced with version 1.1.4:  https://github.com/pystardust/ytfzf/releases/ta

[2021-07-29 13:47] dilyn-corner commented on #626
Interesting...

So if you would prefer that it simply requires `awk` and whatever downsides that choice carries are fine, I'm okay with you trying to maintain that patch.

However, you can definitely just build a single static binary from the `util-linux` source. Something like `make column` after running the configure step will produce a static `column`. Alternatively, we could just do it ourselv

[2021-07-29 14:07] sdsddsd1 opened #628 "Packages with libressl dependency"
There are some packages left with a dep on libressl:
- [x] irssi @konimex
- [ ] lynx @dzove855
- [x] megatools @mmatongo
- [x] openntpd @konimex

[2021-07-29 19:34] Vouivre commented on #626
hhhmmm, I had it from the beginning, sorry....

What you mean exactly with:

You mean providing the necessary sources to only build `column` and writing the code to compile only
`column`? If yes, what is the advantage ?  I find it simpler to use directly `util-linux`.... now that I have understand my mistake ;-)

[2021-07-30 20:04] dilyn-corner commented on #626
column...

Yes this is what I mean -- the advantage is that people wouldn't have to download the entire `util-linux` source just for `column`. I'm not particularly married to any solution here though.

[2021-08-02 15:04] Lazar-Kovacevic opened #635 "bemenu: missing dependency"
Bemenu is missing "wayland-protocols make" in its depends file.
Currently build will fail if wayland-protocols is not installed
@git-bruh

[2021-08-03 02:06] dilyn-corner commented on #550
:'(
600493144e5babf201a64a0c4714e0c3c1ad3e34

[2021-08-03 02:06] #550 closed

[2021-08-03 02:16] dilyn-corner commented on #635
e11edff16eb40edac627d7cbe997a3ecac03a15b

[2021-08-03 02:16] #635 closed

[2021-08-03 02:16] dilyn-corner commented on #628
e11edff16eb40edac627d7cbe997a3ecac03a15b

[2021-08-03 02:16] #628 closed

[2021-08-03 19:44] Vouivre commented on #626
I had a look and I can build only `column`, if I download the whole tarball. That's not a problem. But I'm curious with the other solution (download only the necessary files). What I know for the moment:

- it's not a problem to download the necessary files from the git version
- to download the necessary files from a release without downloading the tarball, it's more difficult. I don't know how t

[2021-08-04 15:10] dilyn-corner commented on #626
Well I'm not entirely certain exactly what `column` itself requires besides one specific library `util-linux` builds -- I would assume it's simply a matter of creating all the object files for that library and then linking them, and then after that simply making `column` from `column.c`.

All that being said, it would be fine to simply bundle `util-linux`.

[2021-08-05 07:21] Vouivre commented on #626
I will keep in mind your suggestions. I think at the moment it's best to add `util-linux`.
It could change later.

PR to close this discussion: https://github.com/kiss-community/community/pull/643

Thank you for your help ;-).

[2021-08-05 07:38] #626 closed

[2021-08-09 13:59] git-bruh opened #648 "Packages broken due to DESTDIR changes"
As KISS defines DESTDIR now, a few packages setting PREFIX=$1/usr are broken:
ioping: @xuxiaodong
tty-clock: @wozniak
The fix is to just set PREFIX=/usr

[2021-08-09 19:19] wozniak commented on #648
Thanks

[2021-08-13 04:30] xuxiaodong commented on #648
Thanks. Fixed.

[2021-08-14 06:36] #648 closed

[2021-08-24 22:37] kreatoo opened #667 "automake gives error when building"
Automake gives this error while trying to build it:
[code]
Any ideas as to how to fix this issue?

[2021-08-25 06:56] git-bruh opened #668 "lld: broken package"
@ominitay The lld package is missing a dependency on cmake, and also doesn't build since the compact_unwind_encoding.h file is not present, the old workaround is still needed. It would work fine only on systems that previously had lld installed since lld installs the /usr/include/mach-o/compact_unwind_encoding.h file.

[2021-08-25 09:52] ominitay commented on #668
Ah. It had built fine without on my system, but that explains it. Will fix that when I get to my PC later today.

[2021-08-28 01:08] #668 closed

[2021-08-31 01:44] konimex opened #673 "Dropping several packages"
Due to these packages being only used for X deps (picom and/or feh, I forgot), I decided not to maintain it anymore. Anyone interested please take over, otherwise I'll create a remove request in about 2-4 weeks.

- [ ] `libev`
- [ ] `libexif`
- [ ] `libconfig`

[2021-09-01 21:45] #673 closed

[2021-09-11 05:01] dilyn-corner commented on #494
Sufficiently welcomed :)

[2021-09-11 05:01] #494 closed

[2021-09-11 05:49] git-bruh commented on #197
I am orphaning `bind` and `fuse`. `eudev` should be dropped since its a big inconvinience to switch between libudev-zero and eudev.

[2021-09-11 12:27] Jackojc commented on #197
I'll try to get an update out for the kakoune package within the next week or so.

[2021-09-11 13:05] abbbi commented on #197
feel free to adopt, ive not used kiss since a few months and probably wont

[2021-09-13 16:46] Vouivre commented on #197
@dilyn-corner I have no idea what is `ladspa`.

[code]

I don't know who is Camille.

[2021-09-13 17:09] dilyn-corner commented on #197
Typo on my part; Camille is onodera-punpun I believe, who has been MIA for a minute.

[2021-09-17 03:48] Xeno-Hypster commented on #197
I'm going to orphan gnu ed, I don't really use it and prefer using oed when I do jump to ed.

[2021-09-17 05:31] AndreiSva opened #703 "webkit2gtk is missing the wayland-protocols make dependency"
kiss log:
[code]

@git-bruh

[2021-09-17 05:38] AndreiSva commented on #703
Don't mind the gperf error, that was just because I was messing around with the gperf package and messed something up.

[2021-09-19 18:37] GullikX opened #710 "Dropping my packages"
Hi guys!

Using kiss has been really fun and awesome, but now I need to focus on some other things in life. My packages are first come, first serve! :)

- [X] ~~lm-sensors~~ @dilyn-corner
- [ ] ~~wireguard-tools~~ dropped

[2021-09-19 19:55] #703 closed

[2021-09-23 23:30] kyx0r opened #713 "gdb 11.1 build fail"
LOG
https://0x0.st/-Y8s.txt

Looking at the log, it seems that gdb now requires GMP library by configure script.

"configure: error: GMP is missing or unusable"

I would also like to point out that GMP is considered harmful.
IE. see https://suckless.org/sucks/

[2021-09-23 23:33] kyx0r commented on #713
@Xeno-Hypster

[2021-09-23 23:47] kyx0r commented on #713
I'll take a look maybe it can be disabled by some option.

[2021-09-24 02:31] kyx0r commented on #713
Neither --with-gmp=no or --without-gmp works
It compiles fine if I install GMP on my system. What a curse.
Looking though the code, it includes GMP.h from gdb/gdbtypes.h
which in turn gets included all over the codebase.

Not suprised them using gmp, this project is doomed anyway...

Just add the gmp to the depends file I guess, or just freeze the version
at 10.* which did not use gmp, (or they ve

[2021-09-24 15:51] luizbra opened #714 "Appimages don't work!"
I have the FUSE filesystem built-in to the kernel and the fuse2 package installed, but whenever I try to run an appimage this happens:

    -sh: ./LibreWolf-92.0-1.x86_64.AppImage: not found

[2021-09-24 16:20] dilyn-corner commented on #714
Aren't appimages actually just lying about their 'it runs anywhere' claim because they're just built against glibc

Sep 24, 2021, 11:52 AM by ***@***.***:

[2021-09-24 22:11] dilyn-corner commented on #714
Specifically I am talking about the discussion in https://github.com/AppImage/AppImageKit/issues/1112

[2021-09-25 00:47] kyx0r commented on #714
Also this :) https://github.com/AppImage/AppImageKit/issues/1113

Been there, experienced it. Not considering Appimage format any good afterwards.
Torvalds was too hasty to give it good feedback.

[2021-09-25 10:07] Xeno-Hypster commented on #713
Hey sorry about the delay in response. Yeah, the new dependency on GMP is frustrating. I swear I went and added it to the dep file, but guess not. Added a PR with the fixed depends file.

[2021-09-25 17:39] #713 closed

[2021-09-26 07:30] git-bruh opened #718 "gdb: only install necessary stuff"
[code]

@Xeno-Hypster

gdb installs a bunch of un-needed stuff that creates alternatives to binutils-provided files, this fixes it

[2021-09-26 21:31] noocsharp commented on #710
I can take `wireguard-tools`

[2021-09-27 19:35] GullikX commented on #710
Open a pull request and I will cross it off the list.

[2021-09-27 22:50] dilyn-corner commented on #599
Can you rerun this and lmk? We can probably get all this stuff merged tonight.

[2021-09-28 13:26] jedahan commented on #599
[code]

[2021-09-28 13:27] jedahan commented on #599
https://github.com/kiss-community/community/pull/723 fixes the 3 errors. Looking into the warnings right now

[2021-09-28 13:32] jedahan commented on #599
https://github.com/kiss-community/community/pull/724 fixes 11/13 warnings

[2021-09-28 13:36] #599 closed

[2021-09-30 20:50] Riteo opened #731 "Dependency on eudev"
Hi! I found out that a few packages depend on `eudev`:
 - `libgphoto2`
 - `chromium` (not really in the `depends` file, but `post-install` advises installing it or `udev-zero` in order to pass some checks)
 - `tlp`
 - `usbutils`

 I tried removing the `eudev` dependency in `usbutils` and it works fine. Since it's not immediately clear on why those packages depend on it and installing those (pretty

[2021-10-01 21:41] dilyn-corner opened #733 "Missing dependencies"
Some I've found:

~`libseccomp` requires `linux-headers make` @sdsddsd1~
~`squashfs-tools` requires `lzo` @git-bruh~

[2021-10-02 20:54] dilyn-corner commented on #731
This would be up to the maintainers to answer:
`libgphoto2` -- @vouivre
`tlp` -- @depsterr
`usbutils` -- @trbednarzyk

[2021-10-02 20:56] depsterr commented on #731
TLP is no longer maintained by me, I recall leaving it up for grabs, either I'm misstaken or no ine has picked it up

[2021-10-03 15:31] Vouivre commented on #731
I will have a look at the README when I will have time. In between, `libgtphoto2` creates some `udev` rules. With
those rules, the user can have access to the camera, otherwise only root can access the camera. It only works if
`eudev` is installed. Perhaps a more lightweight solution is possible (`mdevd` for example). I'm interested by any suggestion.

[2021-10-05 13:25] Riteo commented on #731
@Vouivre I've found a way to achieve something similar, although I haven't still tried it for your package. `android-tools` accesses its android devices directly through the USB and due to this, can't work as is without running its server as root. For this exact reason `android-udev` exists to provide rules for providing access to normal users by checking for a specific vendor and product id and `

[2021-10-05 17:55] dilyn-corner commented on #731
Correct, a large number of udev rules are simply to set proper permissions on device paths -- if these packages only require `eudev` for this functionality, this can be accomplished (perhaps nontrivially) in many different ways. For instance, the kernel has a builtin way of doing this (`UEVENT_HELPER`). `libudev-zero` includes `helper.c` (though I'm not certain how its functionality has changed si

[2021-10-05 18:11] Riteo commented on #731
@dilyn-corner the issue with auto install or even just manual configuration is that it's too unstructured by itself. What I proposed to include in `repo` was really just a script/folder and its respective hooks already setup by default for a more modular and less error prone device hook system. Kinda like dylan's boot manager agnostic boot system. I am aware of solutions like uevent or even the ke

[2021-10-07 03:41] dilyn-corner commented on #731
Let me rephrase what I was trying to say:

I don't know what your suggestion is accomplishing that isn't already solved, and the original aspect of this issue ("why do these things depend on `eudev`") is resolved by my suggestion to fill the gap on the already existing solution

[2021-10-08 14:24] git-bruh opened #744 "qemu: fix build"
The 'sed -i 's/#include <sys\/sysinfo.h>//' linux-user/syscall.c' sed call is not needed anymore and breaks the build. @jedavies-dev

[2021-10-10 08:30] Xeno-Hypster commented on #718
Oh heck I missed the ping for this, sorry.

Cheers, I'll patch the build, always appreciated.

[2021-10-11 22:38] #744 closed

[2021-10-11 22:38] #714 closed

[2021-10-11 22:41] #718 closed

[2021-10-12 09:58] Vouivre commented on #731
Sorry for not responding, I need a better understanding in this issue, but at the moment I can't. If something
must be done on my package, you can make the change without problem. I expect I won't be able to have a better
look before a few weeks.

[2021-10-16 15:13] davidgarland opened #749 "Chromium fails to build due to Python 3.10 changes"
The section of the log from when the build failed:

[code]

[Looking it up](https://stackoverflow.com/questions/69381312/in-vs-code-importerror-cannot-import-name-mapping-from-collections), it seems that Python 3.10 changed where `Mapping` lives from `collections` to `collections.abc`.
I'm unsure if it would be simpler to bundle in an older version of python or to look for and patch all such error

[2021-10-22 02:28] dilyn-corner commented on #197
@Lazar-Kovacevic If this is the case, then we can simply keep it as is. These rename pings are mostly with respect to https://github.com/kisslinux/kiss/blob/228075aab1aa8b282ff1b9a36b8dbaa153c422c3/contrib/kiss-outdated#L233

Everyone else -- big updates on this list. Hack and slash, turn and burn, show no mercy. Steal those packages, get involved :)

[2021-10-22 02:46] noocsharp commented on #197
Dropping the gnupg2 stack:
- `gnupg2`
- `libassuan`
- `libksba`
- `npth`
- `pinentry`

As well as `wget`

[2021-10-22 04:14] git-bruh commented on #197
Dropping badwolf, fuse, glib-networking, libsoup, webkit2gtk, harfbuzz-icu, gst-plugins, gst-plugins-base, gstreamer, lariza, wyeb, wyebadblock

[2021-10-23 07:07] TAAPArthur opened #771 "Use portable build flags for lua"
@mmatongo requesting the following patch be applied to lua. It removes the non-portable (not in sbase) "-p" from install and also uses `-P` instead of `-d` (non-POSIX) when invoking cp
[code]

[2021-10-26 15:09] #771 closed, assigned to nobody

[2021-10-28 15:29] Vouivre opened #781 "youtube-dl: switch to yt-dlp ?"
Since a few weeks now, the download speed for videos on youtube with `youtube-dl` is slower and it's limited at
about 50-60 kb/s. An issue has been raised recently, that a video was not possible to be downloaded. The last commit for `youtube-dl` was on 1.July. It should happen at some time, that it won't be possible to download
some videos.

There are many issues about the download speed [like the

[2021-10-29 18:40] Riteo commented on #781
@Vouivre it still wouldn't be a drop-in replacement. In that case it might probably be better to make a shell script to run it with its compatibility options:

`youtube-dl`:
[code]

But again, IMO it'd be simpler to just make a different package; they're different programs.

[2021-10-29 19:21] Vouivre commented on #781
That's right. `yt-dlp` has other features, so it's not exactly the same.

In the future, if the development of `youtube-dl` don't resume, other softwares depending on it will switch
to another fork, probably this one.

@dilyn-corner  do you agree with it ?

[2021-11-02 14:38] Vouivre commented on #781
I think we can close this issue, probably @dilyn-corner will agree.

Another pointer to create a separate package:  [a new version](https://github.com/mpv-player/mpv/releases/tag/v0.34.0)  of `mpv` has been released. By default, `mpv` now rely on `yt-dlp` instead of `youtube-dl`.

From the release notes:

* ytdl_hook.lua: search for yt-dlp by default (preferred over youtube-dl)

This switch could

[2021-11-04 21:42] dilyn-corner commented on #781
Sad to hear about `youtube-dl`, glad to hear about `yt-dlp`!

If `mpv` now relies on `yt-dlp`, I'm very tempted to say just drop `youtube-dl`... Can `tuitube` and `ytfzf` be used with `yt-dlp` (with `yt-dlp --compat-options youtube-dl` as @Riteo suggested above)?

If no real features are lost in using `yt-dlp` instead of `youtube-dl`, I'd probably just replace `youtube-dl` with this new project.

[2021-11-05 04:40] ioraff commented on #781
Reopened at #792, now with a `youtube-dl` compatibility script.

[2021-11-05 08:02] Vouivre commented on #781
If there is a compatibility with `youtube-dl` I will probably drop `youtube-dl`. Otherwise I will keep it a few weeks to see if the developpment resume.

@ioraff: is it not possible to package `yt-dlp` like `youtube-dl` to have only one binary and not hundreds of python files ?

[2021-11-05 21:00] ioraff commented on #781
@Vouivre: yes, it is. fixed.

[2021-11-06 07:20] Vouivre commented on #781
@ioraff: thank you!

I installed `yt-dlp` but there was a checksum mismatch:

[code]

Can you have a look at it ? Apparently it's for the file `youtube-dl`.

[2021-11-06 07:52] ioraff commented on #781
@Vouivre fixed in #800. Thanks

[2021-11-06 21:02] dilyn-corner commented on #197
#bigclean

[2021-11-06 21:03] dilyn-corner commented on #781
Embarrassing for me :V :V :V

[2021-11-06 21:03] #781 closed

[2021-11-10 17:03] #710 closed

[2021-11-10 18:56] Riteo opened #812 "Use of READMEs in the package files"
While working with my packages, especially `fuse` (see #811), I noticed that there is a slowly growing amount of workarounds, settings, notes and whatnot that could be documented in a `README` file inside the package just like the core repo instead of in comments inside `build`, a `post-install` script or even worse, nowhere. This should also have native `kiss help` support out of the box, greatly

[2021-11-10 19:41] arnolddinkla opened #813 "iosevka-nerd-fonts"
iosevka-nerd-fonts build failure

-> iosevka-nerd-fonts Building package (1/1)
-> iosevka-nerd-fonts Extracting sources
-> iosevka-nerd-fonts Starting build
install: can't stat '*.ttf': No such file or directory
-> iosevka-nerd-fonts Build failed

[2021-11-10 20:30] #812 closed

[2021-11-10 20:48] dilyn-corner commented on #813
Ah. `kiss` stopped supporting `.zip` sources a while back.

Fixed by 38ca059bde1d0d87641853830848dff33eccf818

[2021-11-10 20:48] #813 closed

[2021-11-13 20:31] jslick opened #815 "Unable to build json-glib"
I get `meson.build:1:0: ERROR: Unknown options: "docs"`

@Mederim

[2021-11-13 20:55] mar-foo commented on #815
[code]
This fixes the issue for me.

[2021-11-18 19:25] dilyn-corner commented on #733
`nettle` requires `m4` @git-bruh

[2021-11-22 05:46] Mederim commented on #815
Already send a fix

[2021-11-22 07:55] dilyn-corner commented on #815
Closed by 6226444fb8c128e755f1f249396d1a4cfad4a485

[2021-11-22 07:55] #815 closed

[2021-11-25 07:13] Vouivre commented on #733
@dilyn-corner  Are you sure about `gnutls` ? I was able to build it without `linux-headers`.

[2021-11-25 20:59] dilyn-corner commented on #733
:thinking: I don't know how to explain it. I may very well just be misremembering which package it was, but you're correct.

[2021-11-26 06:53] Vouivre commented on #733
It leads to another question: I will never see that `linux-headers` is a dependency, because when I create a package I test it in a chroot with a minimal installation. So with every packages from `core`.

In this case, I uninstalled `linux-headers` to test, which I never do. `make` for example could be a dependency for a lot of packages, but because it's in `core`, it's never a dependency. So whic

[2021-11-26 14:46] dilyn-corner commented on #733
Things that should not be listed as dependencies:
[code]

We assume users have a toolchain (compiler, linker, libc) for building packages from source, and we assume they have some usable core utilities (`busybox`).

[2021-11-27 17:02] Vouivre commented on #733
What about `pigz` and `xz` ? We need some tools to extract and they are not in `busybox`.

[2021-11-27 17:07] dilyn-corner commented on #733
Unless something specifically relies on an extraction method not supported by `kiss` (see `iosevka-nerd-fonts` & `zip`) OR specifically requires those libraries (if you built `zstd` with `lzma` support, for instance), there's no real need to mention these packages. `zstd` can theoretically provide almost every extraction function, and there are usually adequate alternatives you shouldn't assume (`

[2021-11-28 07:58] Vouivre commented on #733
Thank you!

[2021-12-08 05:58] #733 closed

[2021-12-14 16:30] noocsharp opened #842 "ntfs-3g fails to build when fuse is installed"
It may be because I have fuse installed, and it tries to pick up the system dependency even though the headers are in a different place than it expects.

[2021-12-30 01:43] dilyn-corner opened #864 "[Tracker] Adoptable Packages"
If anybody feels like maintaining more things, you are more than welcome to adopt the following packages.

Mention this issue when adopting.

Comment on this issue to orphan.

- [ ] `aria2`
- [ ] `birch`
- [ ] `bkeymaps`
- [ ] `caddy`
- [ ] `ccls`
- [ ] `crosstool-ng`
- [ ] `falkon`
- [ ] `fff`
- [ ] `hack`
- [ ] `hexyl`
- [ ] `iosevka-nerd-fonts`
- [ ] `keyutils`
- [ ] `libtirpc`
- [ ] `lm-sensor

[2021-12-30 03:15] ArmaanB commented on #197
Please drop my packages as they fall out of date (if there are any besides scdoc)

December 30, 2021 1:26 AM, "Dilyn Corner" ***@***.*** ***@***.******@***.***>)> wrote:
	Packages listed here at are > 30 days out of date are adoptable :)
Packages left outdate for "sufficiently long" will be mercilessly evicted.
Packages with * will be dropped at the end of the month unless adopted. Packages which

[2021-12-30 03:32] dilyn-corner commented on #197
Can do!

[2021-12-30 19:50] dilyn-corner commented on #842
@friendlyneighborhoodshane

[2021-12-30 21:19] TAAPArthur opened #874 "tcc: add `cc` symlink"
@kyx0r Requesting that `ln -s tcc "$1/usr/bin/cc"` gets appended to the tcc build script

[2021-12-30 23:37] AndreiSva commented on #874
this is just a bad idea.

[2021-12-31 00:22] kyx0r commented on #874
I agree that this is a bad idea because - I can understand gcc package doing so because it is sort of a "default" compiler on kiss so it can assume to be that role. But doing this on a minor compiler can lead to unindeded side effects. I would leave this up to the user's discretion.

[2021-12-31 00:31] dilyn-corner commented on #874
It's worth noting that creating the symlink just means that users can either use `kiss a tcc /usr/bin/cc` OR set `CC=tcc` in the environment, but creating the symlink wouldn't change default `cc`.

Also worth mentioning that `mold` doesn't support LTO and only recently saw its 1.0.0 release, and Dylan had still opted to create the `ld` symlink for `mold`. Just to create some context around this so

[2021-12-31 02:45] jslick commented on #197
Unfortunately, ncdu 2.0 requires zig, according to the website.

[2021-12-31 03:02] dilyn-corner commented on #197
Of course it would.

I want a better solution for getting `zig` in this repo. I'll have a think.

For now, we can just keep it as is; thanks for letting me know.

[2021-12-31 05:25] TAAPArthur commented on #874
In my setup tcc is my default compiler and ran into trouble when certain programs ignored my CC env var and just tried to use `/usr/bin/cc`.

I don't see the harm. I wouldn't affect anyone who didn't explicitly enable it (unless gcc wasn't installed). Think it is better to have symmetry among compilers instead of playing favorites

[2021-12-31 19:25] noocsharp commented on #842
hmm, seems to fail regardless of whether community/fuse is installed or not: https://nihaljere.xyz/files/ntfs-3g-2021-12-31-13:17-10381

[2021-12-31 20:20] dilyn-corner commented on #842
Odd that this is the only error...
[code]

What happens if you add `--with-fuse=internal` to the configure step?

As a side-note, `ntfs-3g` has a make dep on `linux-headers`.

[2021-12-31 21:20] noocsharp commented on #842
Yeah, that fixes it. I changed it to do that in my personal repo.

[2021-12-31 22:05] dilyn-corner commented on #842
That's strange. The default is to use the internal fuse.

Here's a diff of a (sorted) list of what configure does for me versus you:
[code]

Notice that yours is lacking a check to use internal `fuse`.
Try installing `pkgconf`...

[2022-01-01 04:59] FriendlyNeighborhoodShane commented on #842
When I build with `util-linux` I encounter no errors either. Infact `ntfs-3g` links with libuuid to provide UUID support.

[2022-01-01 17:30] noocsharp commented on #842
I figured it out, from this line:
[code]

Line 13360 has the test for checking which fuse to use:
[code]

My `/bin/sh` is `dash` which apparently doesn't implement `==`. I rebuilt with `oksh` with my `/bin/sh` and it builds fine.

[2022-01-01 17:30] #842 closed

[2022-01-01 17:34] noocsharp commented on #842
I looked at the POSIX sh spec and `==` doesn't seem to be defined... does this mean that `autoconf` doesn't generate POSIX compliant `configure` scripts?

[2022-01-01 19:39] FriendlyNeighborhoodShane commented on #842
Indeed it would.

I remember when I first learnt about this little POSIX sh quirk. Guess it's a memento of the times when C was not the one language where everyone got their base syntax from.

[2022-01-07 20:08] tslilc commented on #197
I hope this is the correct place, but `lld` is out of date. @ominitay is the listed maintainer, but has no email address (afaict). The fix should be pretty straightforward:
* version `12.0.1 2` --> `13.0.0 2`
* sources can be written more version agnatically
[code]
* checksums generated
* build unmodified

[2022-01-07 20:09] ominitay commented on #197
You can orphan my packages, I haven't used kiss in ages, so can't really maintain things anymore.

[2022-01-07 20:10] dilyn-corner commented on #197
@tslilc you're more than welcome to adopt `lld` if you'd like!

[2022-01-07 20:11] ominitay commented on #197
You won't be able get Zig in the repo without changing the LLVM package, but I don't think you intended to do that.

[2022-01-07 20:17] tslilc commented on #197
Thanks for the swift responses all!

@dilyn-corner sure, i'd be happy to adopt this for now! I've never done this before, but it should be fun. Thanks for catching the version bump typo.

@ominitay actually Zig was my intention :p AFAICT, `extra/llvm` is versioned correctly for `zig-0.9.0` and it seems to be building just fine...?

[2022-01-07 20:29] dilyn-corner commented on #197
Last we knew, `llvm` must be built with all targets enabled; the one in `extra/llvm` only builds two:
https://github.com/kisslinux/repo/blob/f9d57a2dca54ec42a3426988242d72424a894cda/extra/llvm/build#L13

But if it no longer has that requirement... Life is easier...

[2022-01-07 20:51] ominitay commented on #197
It still has that requirement, and will always will have that requirement. I don't know how you managed to get it to build correctly, could you send your build arguments?

[2022-01-07 20:52] tslilc commented on #197
@dilyn-corner @ominitay : i did not manage to build it correctly, or at least, i did not manage to link it correctly. Sorry, my build is just so slow that i could only now see that linking failed.

[2022-01-07 20:54] ominitay commented on #197
Yeah this happened in version 0.8.0 iirc, before then dynamically linking would get it to work.

[2022-01-07 20:54] ominitay commented on #197
This discussion may be of interest. https://github.com/kiss-community/repo/pull/44

[2022-01-11 01:23] kyx0r opened #887 "fortune: broken link (build fail)"
@ArmaanB

[2022-01-11 02:20] ArmaanB commented on #887
New link is https://git.armaanb.net/bin/plain/fortune, but I can't maintain packages any more. Feel free to adopt and change URL. I recommend just importing that script into the repo though

[2022-01-11 22:31] dilyn-corner commented on #864
@ioraff my hero

[2022-01-15 06:02] dilyn-corner commented on #197
@jslick e7835117e52282c3c4ce6772dd200143b0a37271 :D

[2022-01-15 08:22] Vouivre commented on #197
You forgot `ytfzf`. There is a new version. Typo ? Problem in your script ?

I would like to wait for the next version, otherwise I have to patch it. There was some changes in the `Makefile`, see for example: https://github.com/pystardust/ytfzf/issues/441

I think a new version should be released soon: https://github.com/pystardust/ytfzf/commit/f560cab7922d1989402e665a27b2818753b7af97

By the way

[2022-01-15 15:24] ominitay commented on #197
You are building LLVM in that!!!

[2022-01-15 17:13] dilyn-corner commented on #197
This isn't scripted yet; the list is only updated semi-regularly (every two-four weeks or so), so it's a bit old.

That's fine.
[If you wanna learn a bit about Make](https://pubs.opengroup.org/onlinepubs/9699919799/) ;)

Where there's a will, there's a man willing to spend ten hours compiling their compiler.

[2022-01-15 19:57] Vouivre commented on #197
Thank you ;-)

[2022-01-15 20:02] ominitay commented on #197
Building LLVM twice is not a great idea -- it's not very 'KISS', is it?

[2022-01-15 20:06] dilyn-corner commented on #197
GCC also builds itself multiple times if you specify it; it's not out of the ordinary for a compiler to have these sorts of requirements.

It's a fine enough build compromise for people who want zig. 

Jan 15, 2022, 3:03 PM by ***@***.***:

[2022-01-15 21:54] ominitay commented on #197
Perhaps that's fine for the moment, but will it continue to remain so as more commonly-used packages come to depend on Zig (either as a C/C++ (cross-)compiler, build system, or Zig compiler), such as `ncdu`, or `river`?

[2022-01-15 22:39] dilyn-corner commented on #197
I mean, what's the alternative?

Jan 15, 2022, 4:54 PM by ***@***.***:

[2022-01-15 23:26] ominitay commented on #197
The alternative is either to have the LLVM package provide default targets, as on most distros, fork Zig and strip out cross-platform support (bad idea), or wait until Zig goes self-hosted, and then only support building Zig with Zig.

[2022-01-15 23:26] ominitay commented on #197
Though I don't think any of those solutions are really satisfactory.

[2022-01-17 06:10] Xeno-Hypster opened #921 "Dropping packages"
I've switched distros (needed some glibc stuff and cbf jumping to gkiss). I won't be able to maintain these packages, esp with deadlines coming up. Outside of gdb, the rest are all pretty slow updating and easy to maintain.

~~amfora~~, ed, ~~gdb~~, ~~gsl~~, sc

[2022-01-20 22:43] aabacchus commented on #921
amfora: d07fd1144700ccc8898184091f48ce85db2e8167

[2022-01-22 17:09] Vouivre commented on #731
I'm back in this thread, sorry for the delay. @Riteo can you confirm me there is nothing to do on the package at the moment until you contact Dylan ?
To be honest, I still don't have an overview of the possibilities to solve the issue. I only have a better
understanding of `mdev`.

[2022-01-22 17:31] Riteo commented on #731
@Vouivre yes, exactly. Actually I don't think that a deep understanding of eudev will be actually needed, so don't worry. :)

[2022-01-22 21:42] Vouivre commented on #731
@Riteo Thank you!

[2022-01-26 15:44] vaskark opened #931 "Error: fd not yet built"
I'm attempting to build fd and receive the above error. Any advice?

[2022-01-26 17:41] dilyn-corner commented on #931
First step would be to give us the entire build log to see what's up

[2022-01-26 18:50] #931 closed

[2022-01-28 14:20] kyx0r commented on #887
fixed.

[2022-01-28 14:20] #887 closed

[2022-02-07 04:13] jslick commented on #197
Unfortunately, ncdu2 segfaults when I try to run it, without any backtrace information so I don't know how to diagnose it.  If anyone can get it to work, feel free to adopt the package or let me know how I can fix it.

[2022-02-07 04:26] dilyn-corner commented on #197
Tried building Zig without -march or -mtune in your C{XX}FLAGS

Feb 6, 2022, 11:13 PM by ***@***.***:

[2022-02-07 05:52] TAAPArthur commented on #197
Think I have a decent reason to delay updating mdadm to 4.2. It has some udev dependency by default now
[code]

Probably can set some compiler flag to resolve it, but will look into it later

[2022-02-07 08:36] ominitay commented on #197
Is it built in release or debug mode? You won't get any runtime safety if it is built in `ReleaseFast`

[2022-02-07 14:32] ominitay commented on #197
Perhaps a stack overflow

[2022-02-07 14:42] ominitay commented on #197
Fwiw, I can't reproduce this on Arch, with a Zig master binary downloaded from [ziglang.org/download](https://ziglang.org/download). If you can't fix it, I'll set up kiss in a VM to try and troubleshoot it for you.

[2022-02-11 06:57] Vouivre commented on #197
@dilyn-corner why do you want `libusb` to be added as a depedency for `sane` ? It works perfectly fine without it. For the users who use usb to connect the scanner ?

[2022-02-11 07:01] Vouivre commented on #197
@ectlunya could you also update `mblaze` ?

[2022-02-13 20:08] illiliti opened #976 "The state of the go packages"
Some(well, all of them except dnscrypt-proxy) go packages still use internet connection to fetch dependencies. This is bad because only kiss itself should be allowed(we should really enforce this via unshare) to fetch something from internet. We should use `go build -mod=vendor` where possible, and if not possible - convince upstream to add support for it.

* [ ] syncthing -- @Vouivre switch to th

[2022-02-15 23:57] dilyn-corner commented on #197
@Vouivre it isn't that I want it added as a dep for `sane`, but that it is:
[code]

[2022-02-16 08:18] Vouivre commented on #197
Sorry, I was convinced `libusb` wasn't a dep and I have not checked......

[2022-02-16 12:52] mar-foo commented on #864
I haven't used KISS in a while so I'm dropping my packages

* glib-networking
* harfbuzz-icu
* libsoup
* webkit2gtk

[2022-02-22 07:11] Vouivre commented on #976
I'm not the maintainer of `go-ipfs`

[code]

@mmatongo: can you have a look at it ?

[2022-02-22 07:12] mmatongo commented on #976
I keep forgetting to do this for some reason, I'll send two PR's in a bit.

[2022-02-22 09:21] illiliti commented on #976
Fixed, thanks.

[2022-03-06 14:36] git-bruh commented on #197
Orphaning `eudev` `libunistring` and `libuv`

[2022-03-13 22:09] aabacchus opened #1000 "terminus-font: remove dep on bdftopcf"
https://tmp.bvnf.space/0001-terminus-font-remove-dep-on-bdftopcf.patch

bdftopcf was dropped in 60049314

[2022-03-14 11:11] git-bruh commented on #1000
@aaronNGi

[2022-03-20 12:28] aabacchus commented on #1000
NB: bdftopcf produced the X11 fonts, so with this patch, only terminal fonts are generated.

[2022-03-23 05:32] TAAPArthur opened #1001 "rsync: Explictly specify DESTDIR"
@ioraff
Requesting that DESTDIR be explicitly stated when building
[code]

I believe this is the standard for this repo and also makes it more compitable with other kiss-like package managers

[2022-03-23 13:26] slave66 commented on #1000
I use this font in sway, will it be supported?

[2022-03-24 02:22] dilyn-corner commented on #1001
Echoing what I said in https://github.com/kiss-community/repo/pull/49 -- there is no particular style requirement and this is 100% up to the discretion of any given maintainer. I do not care either way, and so long as `kiss` supports an implicit `DESTDIR` we will allow packages which use it.

[2022-03-24 02:23] dilyn-corner commented on #1000
Because @aaronNGi has been AWOL for a while, I've taken the liberty of merging this patch as it technically should have been included with our dropping of X packages.

[2022-03-24 02:23] #1000 closed

[2022-03-26 00:13] i-spin opened #1003 "Add Zstd Support for Kmod"
See here: https://github.com/sourTaste000/community/commit/686d459138a0bc49b0b695b362a7969bd16c06e8
I am not the maintainer of the package, so I am opening this issue instead of opening a pr

[2022-03-27 19:49] #1001 closed

[2022-04-13 17:57] aabacchus commented on #864
see https://github.com/kiss-community/community/pull/1021: `libusb` needs a new maintainer.

[2022-04-30 03:04] Mederim opened #1038 "bemenu: change wl-clipboard to wayclip"
@git-bruh since the repo changed to wayclip instead wl-clipboard bemenu need a change in the menu.c to use waypaste as a clipboard option.

[code]

[2022-05-02 10:12] git-bruh commented on #1038
https://github.com/kiss-community/repo/commit/a0f0f24f73010a287180ece801d5728d9c4acea5

[2022-05-02 10:12] #1038 closed

[2022-05-02 10:15] #1003 closed

[2022-05-02 11:20] aabacchus commented on #197
Shame we're not a part of repology any more.

[2022-05-02 11:35] #921 closed

[2022-05-02 11:57] konimex commented on #197
Dropping every single remaining package that I'm a maintainer of since for now I no longer use KISS or any derivatives.

[2022-05-03 02:43] tslilc commented on #197
@dilyn-corner  thanks for the ping, i'm not super sure how to version zig because upstream makes random choices (the repo now builds `0.10.0-dev.1977+360ecc1a2` for some reason), but fortunately they have `0.9.1` so i'll build and send a PR.

I use `bash`, so if @noocsharp doesn't want it i can take it.

IRL stuff has prevented me from hanging around on irc, but i should be back soon :)

[2022-05-03 02:48] tslilc commented on #197
@git-bruh would you consider changing the depends of `btrfs-progs` to `libblkid` and `libuuid` instead of `util-linux`?

[2022-05-03 03:49] mmatongo commented on #197
I’ll bump all my packages later today, I recently started using Noir as my daily driver again so this won’t take long.

[2022-05-03 13:52] Vouivre commented on #197
@git-bruh I assume you have edited the list of packages to update. `youtube-dl` has been replaced by `yt-dlp`. The last update of `youtube-dl` was on 2021. Is it ok to remove this package from community ? Otherwise I will orphan it, because I don't use it anymore.

[2022-05-03 14:34] git-bruh commented on #197
`util-linux` already provides both of those, if the programs provided by `util-linux` are not required then you can disable them in it's build script

You can remove it

[2022-05-04 01:59] tslilc commented on #197
@jedavies-dev it looks as though you're the current maintainer for bash? I think upstream is at `5.1 p18` now?

[2022-05-10 10:56] fluorescent-haze opened #1074 "oksh: add ncurses dependency"
Without ncurses enabled, Ctrl+L doesn't clear the screen. At the very least ncurses shouldn't be explicitly disabled in the build file, so as to support it if you've ncurses installed. As oksh is meant to be an interactive shell, clearing the screen is a pretty fundamental action which should be supported.

[2022-05-11 03:42] tslilc commented on #197
@Lazar-Kovacevic `unbound` appears to be behind upstream which is at version `1.15.0`

[2022-05-11 23:07] mmatongo commented on #197
- [ ]  ghc-bin 9.0.1 -> 9.2.2 [ I'm over haskell, it can be dropped if nobody takes it]

- [x]  libnl 3.5.0 -> 3.6.0

- [x]  lua 5.4.3 -> 5.4.4

- [x]  pkcs11-helper 1.27.0 -> 1.29.0

- [ ]  yarn 1.22.10 -> 2.4.2 | This might have to be split into two packages cause yarn 1.x is not referred to as yarn classic

[2022-05-12 15:41] mmatongo commented on #864
I'll take ruby

[2022-05-14 10:48] #1074 closed

[2022-05-15 13:25] fluorescent-haze commented on #197
There should probably be a fixed cut-off point of 1-2 months for dropping a package, otherwise it might be difficult to keep track of which packages to drop, and when.

Something like this:

- [ ] fmt 8.0.1 -> 8.1.1 (2022-03-02)

Where (2022-03-02) is the "due date" in ISO format, after which the package will be dropped.
The date is calculated: next release + 2 months, for example.

Also, packages

[2022-05-15 18:18] fluorescent-haze commented on #197
The `scdoc` package should probably be dropped from community, as its 6 months out of date, and a maintained version is in community repo/extra.

[2022-05-22 13:17] git-bruh commented on #197
Dropped

fmt
mdadm
ghc-bin
zsh
radare2
ed
findutils
refind
es
rpcsvc-proto
onefetch
screen
ii
bim
cifs-utils
exfatprogs
ldns
libglvnd
unbound
unrar
libuuid

glib-networking
libsoup
webkit2gtk
harfbuzz-icu

[2022-05-22 17:44] TAAPArthur commented on #197
@git-bruh There was a reason mdadm wasn't updated... https://github.com/kiss-community/community/issues/197#issuecomment-1031098731

[2022-05-25 17:06] fluorescent-haze opened #1098 "Stable or Devel?"
I've noticed that some packages are kept at a stable version, and some at the development version. It seems this kind of thing is left up to the developers discretion.

I suggest all packages be kept at a stable version, unless there's a good reason not to do so. If that is the case, a comment should be left in the `version` file, justifying the decision for any future maintainers (lines after the

[2022-05-25 17:49] dilyn-corner commented on #1098
Why?

May 25, 2022, 1:06 PM by ***@***.***:

[2022-05-26 05:47] git-bruh commented on #1098
Can you list the packages using dev versions?

[2022-05-28 14:03] fluorescent-haze commented on #1098
- busybox 1.35.0 (unstable)
- mesa 22.1.0 (dev release)
- mpv git (master branch)

These all seem to be from the unofficial `repo`, not `community`.

To clarify when I said "dev" version, I really meant "not stable", so dev, unstable, prelease, etc. fall under that category.

[2022-05-28 14:12] fluorescent-haze commented on #1098
Because from my perspective, the benefits of using unstable versions (new features) don't outweigh the costs (higher prevalence of bugs).

I'm not dogmatically opposed to it, just that stable should be the norm, and using *unstable* should be done for a good reason, in which case it should be specified, as I already said above.

[2022-05-28 23:49] dilyn-corner opened #1109 "nss missing some headers"
https://github.com/kiss-community/community/blob/7429b791a7f7340eb37c755c4dac3b2fbf407b0d/community/nss/build#L17-L23

Building `chromium` & `qt5-webengine` requires the `obsolete` headers, and they were lost in the transition.

Add:
`install -Dt "$1/usr/include/nss/obsolete" \
    -m644 dist/Linux*/include/obsolete/*.h`

@ioraff

[2022-05-28 23:50] dilyn-corner commented on #874
I think this issue can be closed. Feel free to add the symlink if you would like.

[2022-05-28 23:50] #874 closed

[2022-05-28 23:56] dilyn-corner commented on #1098
KISS is a (by default) rolling-release distribution. If users have a problem with this, there is an easy solution: fork the package. `kiss fork` & `kiss link` make this trivial.

Why?

is "because KISS is rolling & the maintainer chose this release" not a good reason?

It is specified; it isn't perhaps *obvious* (`-dev`, `-git`, etc), but the `version` file tells you everything you have to know.
T

[2022-05-29 00:01] dilyn-corner commented on #976
@aabacchus -- maybe poke `amfora`?

@git-bruh -- maybe poke `github-cli`?

The others are either wontfix or ignored -- I suppose we should just consider it a lost cause.

Maintainers are probably welcome to vendor dependencies themselves and point `sources` to their fork (though should probably be discussed...)

[2022-05-29 00:03] dilyn-corner commented on #731
Assuming `libgphoto2` is trapped forever with `eudev`, considering this closed.

[2022-05-29 00:34] Riteo commented on #731
Yeah this issue can't really be fixed without some new radical solution made by someone and miraculously accepted by everyone or by Dylan and his public return. I agree on your decision.

[2022-05-29 02:20] dilyn-corner commented on #864
Closing -- More convenient to annotate on the outdated tracker.

[2022-05-29 02:20] #864 closed

[2022-05-29 21:37] aabacchus commented on #976
Does anyone more familiar with GitHub actions want to have a go at this? https://github.com/makeworld-the-better-one/amfora/issues/296#issuecomment-1140478565

[2022-06-02 12:23] fluorescent-haze commented on #1098
I'm closing this issue, because it seems most people are fine with things as is, and frankly, it's not that big of a deal for me either. Most packages use stable versions anyway.

[2022-06-02 12:23] #1098 closed

[2022-06-03 10:18] fluorescent-haze commented on #197
@git-bruh If you don't care about `nethogs`, I can adopt it.

[2022-06-03 11:42] git-bruh commented on #197
I don't use it anymore, feel free to do it.

[2022-06-04 03:03] ioraff commented on #1109
Not able to reproduce. I can build `qt5-webengine` and `chromium` 100, 101, and 102 without them. There's also no such matching directory `dist/Linux*/include/obsolete` when I build `nss`.

[2022-06-04 20:59] tslilc commented on #197
@fluorescent-haze @dilyn-corner i see btop has been adopted. I hadn't abandoned it, and nobody emailed or pinged me about it (i was tagged by my name but not @tslilc above). Sorry that i let it linger, but anyway i don't mind if @fluorescent-haze wants to maintain it.

[2022-06-26 08:21] git-bruh opened #1131 "kakoune: fix build"
@riteo kakoune needs a patch to fix constexpr usage: http://0x0.st/oSLn.patch

[2022-06-27 01:41] Riteo commented on #1131
Oh right, I procrastinated on it and forgot it completely. I didn't know anybody except me used Kakoune here lol. That got fixed upstream long ago, it got caused by a new compiler release or something like that IIRC, but mawww hasn't released a new version in months. I applied the patch but I think that we should switch to a later commit or to a git version completely as we're missing quite a lot

[2022-06-28 07:06] #1131 closed

[2022-06-28 07:07] #1109 closed

[2022-06-30 17:08] nvidiaLinuxUser opened #1136 "kakoune: remove ncurses dependency"
Since version [v2021.08.28](https://github.com/mawww/kakoune/releases/tag/v2021.08.28) kakoune no longer requires the ncurses dependency. It would be nice to remove it.
@Riteo

[2022-06-30 20:43] kyx0r opened #1137 "chromium: fix the atk dep"
@git-bruh now that iograf dropped it.

[2022-06-30 21:16] Riteo commented on #1136
Yeah sure, I'll do it ASAP. Hadn't noticed it.

[2022-07-01 16:19] #1137 closed

[2022-07-01 16:19] #1136 closed

[2022-07-02 03:13] fluorescent-haze commented on #197
Sorry about that. Your name had "? Abandoned?" written next to it on the outdated packages list, so I assumed it was abandoned.

But as you don't mind me maintaining it, I'll continue doing so.

PS: Sorry for the late reply.

[2022-07-04 16:21] mmatongo commented on #197
Out of curiosity, why do you no longer use kiss?

[2022-07-04 16:51] noocsharp commented on #197
Some programs that I need would have been too painful to package.

[2022-07-05 19:18] mmatongo commented on #197
Ahh I understand, had the same issues.
Defaulted to having https://github.com/fsquillace/junest run alongside noir for work

[2022-07-08 19:05] jslick opened #1148 "go cannot be built with busybox patch"
Since go was updated, it seems the posix-build.patch cannot be applied using busybox patch.

[code]

pinging package maintainer @dilyn-corner

[2022-07-12 03:00] Mederim opened #1153 "zathura-pdf-mupdf don't work"
When i try to exec zathura with some random pdf file i get this message and zathura with black screen.

[code]

[2022-07-14 02:50] LoganDark opened #1158 "Add `mpc`"
`mpc` is required to build certain configurations of the Linux kernel.

Here's a working package, I would PR it but I don't currently have my GPG key or git setup on Linux.

[mpc-1.12.1-1.tar.gz](https://github.com/kiss-community/community/files/9107992/mpc-1.12.1-1.tar.gz)

[2022-07-14 02:58] dilyn-corner commented on #1158
Best bet for inclusion is 

1) a commitment to maintain the package 

2) submitting this as a patch
Need not be submitted as a git formatted patch, as long as we know you're maintaining it. 

Patches are the preferred way to submit updates in lieu of a PR

Jul 13, 2022, 10:50 PM by ***@***.***:

[2022-07-14 05:24] LoganDark commented on #1158
At this point I'm committed to KISS Linux, even though I can't get it to do [the ephemeral thing I like](https://www.reddit.com/r/linuxmasterrace/comments/vtwoip/any_distros_that_are_clean_like_alpine_linux/), it seems like what I want in general. (I'm using GKISS specifically, since musl libc is exactly what I'm trying to escape.)

Should I just format the existing .tar.gz as a patch? I mean, app

[2022-07-15 00:04] LoganDark opened #1159 "`terminus-font` uses a direct mirror link which no longer works"
[code]

Here you go.

(I love `kiss-fork` so much)

[2022-07-15 18:09] aabacchus opened #1160 "libmupdf build fails with lld or mold"
@ioraff
[code]
The problematic commands are like:

    $ ld -r -b binary -z noexecstack -o build/shared-release/resources/fonts/urw/Dingbats.cff.o resources/fonts/urw/Dingbats.cff
works with GNU ld.

with mold:

    mold: fatal: mold does not suppor `-b binary`. If you want to convert a binary file into an object file, use `objcopy -I binary -O default <input-file> <output-file.o>` instead.

with

[2022-07-15 19:22] ioraff commented on #1160
Thanks

[2022-07-15 19:22] #1160 closed

[2022-07-15 19:27] ioraff commented on #1153
Try rebuilding with the latest `main`

[2022-07-16 01:19] #1153 closed

[2022-07-16 22:16] ehawkvu commented on #1148
I fixed the patch a while back https://github.com/ehawkvu/kiss-personal/blob/master/langs/go/patches/posix-build.patch

[2022-07-17 05:33] LoganDark opened #1162 "`qt5-svg` sources checksum mysteriously changed"
The `qt5-svg` sources' checksum has mysteriously changed, preventing it from building on my machine.

This is either worth investigating or just updating the package.

I'll just be updating it locally but I figured I'd let you all know.

Writing this on mobile as I still haven't finished installing all of KeePassXC's dependencies :)

[2022-07-17 07:37] LoganDark opened #1163 "No qt5 linguist tools"
The qt5 package doesn't include the linguist tools, so KeePassXC will not build.

I cannot find any information online on how to build or even obtain the source code for the linguist tools. The Gentoo ebuild is not helpful to me, as it inherits some monolithic qt5 build library and does obscure build system magic that I don't understand.

I can't find any existing linguist packages and also can't

[2022-07-25 13:42] wael444 opened #1171 "unable to compile fuse2"
[code]

[2022-07-25 19:48] tslilc commented on #197
i'd like to abandon `lld`, i no longer use it.

[2022-07-25 20:24] ioraff commented on #1159
@aaronNGi

[2022-07-25 20:47] LoganDark commented on #1159
It looks like there are a lot of orphaned or otherwise unmaintained packages in this repo - that GitHub user hasn't been seen for over half a year. Maybe if I can get my trackpad and GPU to work under GKISS, I'd be open to adopting some.

[2022-07-26 15:17] wael444 opened #1177 "pull request template is outdated"
https://github.com/kiss-community/community/blob/10858250374419a5fec0d2f2e841d2f7bb6f5f14/.github/PULL_REQUEST_TEMPLATE.md?plain=1#L3

https://k1sslinux.org is no longer in use, new domain is https://kisslinux.org
also the community style is removed from the wiki, consider linking to the README directly

[2022-07-26 18:28] #1148 closed

[2022-07-26 18:31] #1177 closed

[2022-07-26 18:31] ioraff commented on #1177
Thanks!

[2022-07-26 18:48] ioraff commented on #1171
https://gitweb.gentoo.org/repo/gentoo.git/tree/sys-fs/fuse/files/fuse-2.9.9-closefrom-glibc-2-34.patch

[2022-07-26 18:50] ioraff commented on #1159
fixed with a1eb6b3

[2022-07-26 18:50] #1159 closed

[2022-07-26 18:54] ioraff commented on #1163
Indeed, `qt5-tools` has not been packaged, and you'll need to do it yourself. Alpine is typically a good starting point: https://git.alpinelinux.org/aports/tree/community/qt5-qttools/APKBUILD.

[2022-07-26 18:54] LoganDark commented on #1163
Thanks!

[2022-07-26 18:56] #1162 closed

[2022-07-26 18:56] LoganDark commented on #1159
That works :)

[2022-07-26 18:59] wael444 commented on #1171
i put this inside `patches/` directory and it doesn't seem to work.

[2022-07-26 19:22] ioraff commented on #1171
try the latest master

[2022-07-26 19:44] wael444 commented on #1171
still fails for some reason,
[code]

[2022-07-26 20:13] ioraff commented on #1171
865dd29?

[2022-07-26 20:17] wael444 commented on #1171
yep! i really appreciate the time you took to help fix it.

[2022-07-26 20:17] #1171 closed

[2022-07-27 19:37] dilyn-corner commented on #1163
You can also check my build of it [here](https://github.com/dilyn-corner/KISS-kde/tree/master/extra/qt5-tools) :)

[2022-08-02 01:23] ioraff commented on #1158
how goes it?

[2022-08-02 01:27] LoganDark commented on #1158
I've received zero responses to any of my calls for help with my trackpad on Reddit and Discord, and on the former one of my posts was even caught in the spam filter and the moderation team hasn't responsed in 3 days. Going to try an allyesconfig build soon.

TL;DR my KISS system still does not work, I don't have much of a clue on how to fix it, and literally nobody is trying to help me. :(

[2022-08-02 01:38] dilyn-corner commented on #1158
We have a Discord?
There's nothing pending in the mod queue on the subreddit.

I'd suggest IRC

[2022-08-02 01:43] LoganDark commented on #1158
Not in KISS-specific Discords or subreddits. This isn't a KISS-specific issue - I'm running the mainline Linux kernel (well ok, Zen kernel, but I built mainline with the same config and it made zero difference). Would going to a KISS-specific venue help at all?

[2022-08-02 01:45] dilyn-corner commented on #1158
It might, just because most of the people running around have been through something like this and can usually quickly pinpoint what's missing.

[2022-08-02 01:53] LoganDark commented on #1158
I went ahead and crossposted to the KISSLinux subreddit just in case. As for IRC, well, [wouldn't be much use there right now](https://morethanone.info) due to personal complications that only expire September 12th.

[2022-08-04 16:20] aabacchus commented on #976
by the way, the maintainer of aerc said they don't want the "burden" of vendoring deps in tarballs.

[2022-08-05 12:41] nvidiaLinuxUser opened #1191 "Chromium 104"
Is it possible to build the latest version of chromium in KISS Linux? The latest version in this repository is 100. I prefer it over firefox.

[2022-08-05 15:34] wael444 commented on #1191
why do you prefer it over firefox? just asking lol.

[2022-08-05 15:48] nvidiaLinuxUser commented on #1191
I can't say for sure, it's more a matter of habit. In general, testing has shown that chromium is faster than firefox, but I use it because of better scrolling. I also like the design compared to Firefox. And it doesn't depend on Rust. The reasons are really many.

[2022-08-07 07:04] ehawkvu commented on #1191
@nvidiaLinuxUser I have a version in kiss-xorg under testing, and the current package in community builds. Porting it over to wayland should be pretty straightforward

[2022-08-15 12:05] fluorescent-haze commented on #197
I'm dropping all of my packages.

* android-file-transfer-cli
* btop
* cryptsetup
* dropbear
* file
* libaio
* nyx
* tor

[2022-08-15 15:00] dm9pZCAq commented on #197
well, I'm also abandoning my packages:
* lsof

[2022-08-19 06:08] ioraff commented on #1191
I've got this: https://github.com/ioraff/kiss-personal/tree/master/extra/chromium. It compiles fine with gcc. It seems to work fine, too, with the exception that it segfaults when visiting youtube.com (I assume this also happens on other sites that I haven't found yet).

[2022-08-19 11:44] nvidiaLinuxUser commented on #1191
Thanks, I'll try

[2022-08-19 11:46] wael444 commented on #1191
#1202 , chromium will get dropped, please consider adopting it.

[2022-08-20 18:59] ioraff commented on #1191
The segfaults seem to be fixed when compiling with clang.

[2022-08-21 03:12] ehawkvu commented on #1191
@ioraff
I'm getting an error about missing wayland header files using kiss-xorg's testing package: https://0x0.st/o9Pq.ndkLfF

My immediate guess is the optional-atk-dbus patch.

[2022-08-21 04:46] ioraff commented on #1191
try this https://gitweb.gentoo.org/repo/gentoo.git/tree/www-client/chromium/files/chromium-104-swiftshader-no-wayland.patch

[2022-08-21 04:56] ehawkvu commented on #1191
I'll test that out tomorrow, thanks for the link!

[2022-08-21 19:37] ehawkvu commented on #1191
Patch applied, I'm running a build now.

[2022-08-21 21:21] ioraff commented on #1191
The gcc crash is fixed with https://github.com/ioraff/kiss-personal/blob/master/extra/chromium/patches/EnumTable-crash.patch

[2022-08-22 08:10] nvidiaLinuxUser commented on #1191
Yesterday I spent 5 hours compiling this monster, but in the end it failed because I forgot to enable swap :C
Maybe someday...

[2022-08-22 08:18] #1191 closed

[2022-08-22 08:21] nvidiaLinuxUser commented on #1191
@git-bruh Thank you!

[2022-08-24 15:07] Vouivre opened #1211 "New package: fzy"
Hello,

I use the fuzzy finder `fzy`which is more lightweight than `fzf`and written in C. The code
is also much shorter than `fzf`.

The official version is at

https://github.com/jhawthorn/fzy

It's not very active at the moment. I need the feature with multi-selection, which is not implemented in
the official repository. But there is a PR which add this feature as well as other features:

https:

[2022-08-24 15:08] dilyn-corner commented on #1211
Probably prefer upstream with a patch file. 

Aug 24, 2022, 11:07 AM by ***@***.***:

[2022-08-24 18:05] Vouivre commented on #1211
Ok, it's ready, I'll wait the opinion of another user before creating a PR.

[2022-08-25 06:23] hovercats commented on #197
ill take;
- icu
- file
- bash
- nettle
- openjpeg2
- libxslt

ive made a PR for some of them already, and ill create one for the rest in a bit

[2022-08-25 08:03] hovercats commented on #1211
@dylin-corner `fzy` is partially compatible with `ytfzf`, and probably more compatible with the afforementioned features patched in.

would we be interested in patching `ytfzf` to be used with `fzy` instead?
I personally already do this, just without the afforementioned features, as I dont personally need them.

or perhaps even replacing `fzf` altogether.

[2022-08-25 14:11] git-bruh commented on #197
@Vouivre Is eudev a hard dependency for libgphoto2 or is it just for permission fixes? If it's the latter then you can remove eudev from depends file and keep the udev rules, so if one is using mdev, they'll just have to run the program as root instead of being able to use it by adding themselves to the camera group with eudev

[2022-08-25 17:04] Riteo commented on #197
@git-bruh see also #731

[2022-08-25 17:54] wael444 opened #1218 "icu: configure permissions failed?"
https://github.com/kiss-community/community/blob/e3b7407a28bbd929a481b1671cceea84fe78bafd/community/icu/build#L8
[code]
i believe this was tested before it was pushed, so maybe its my system?

cc: @hovercats

[2022-08-26 07:48] #1218 closed

[2022-08-26 13:24] Vouivre commented on #1211
@hovercats: I like the idea to replace `fzf` with `fzy`. A feature `fzf`has and not `fzy` is the preview function.
I don't really use it at the moment, but I have it in mind. It could be useful. So I wouldn't drop `fzf` for `fzy`.

I have done another test with another patch, for me the above patch is enough. I let you create the PR.

For patching `ytfzf` as you mentionned we should wait the opini

[2022-08-26 15:42] hovercats commented on #1211
if you really want/need `fzf`'s extra features, stick with `fzf`. if youre happy with could ofcourse package `fzy` with the appropriate patch, to add the afforementioned features.

link the patch you wish to use, and ill create a pr for it once im back on my laptop.

I doubt the maintainer of `ytfzf` is interested in doing this, as itll likely complicate the script further.
if we wish to switch ou

[2022-08-26 19:05] Vouivre commented on #1211
No, I keep only one extra feature in mind. For the moment I'll switch completely to `fzy`.

https://github.com/jhawthorn/fzy/pull/170

I had a look at `ytfzf`and I'm convinced the maintainer won't make this change. To use `ytfzf`with `fzy`
you need to add in `conf.sh`

    external_menu(){
                      fzy
    }

and then call `ytfzf` with:

    $ ytfzf -D

So I think we could forget abou

[2022-08-30 08:28] Vouivre commented on #197
@git-bruh  @Riteo  I had a look and as I expected `eudev` is not a hard dependecy, it's only for permission fixes. I don't understand why we need to use mdev. I'm not using mdev and without `eudev` I can access my digital camera as root. Perhaps with `mdev` it would be possible to access a digital camera as a user. Perhaps it's time to reopen https://github.com/kiss-community/community/issues/731.

[2022-08-31 07:31] Vouivre commented on #197
@git-bruh `eudev` is still available in community. Do I update `libgphoto2` without removing `eudev` as a dependency ? I saw there was a discussion on irc probably to find the best way to drop `eudev`.

[2022-08-31 08:47] git-bruh commented on #197
You can update it, remove the eudev dependency and drop the eudev package for now.

The proposed solution is to have an mdev wrapper that merges various mdev config files together into one to emulate udev rules. Like, android-tools would have it's rules at `/etc/mdev.conf.d/android-tools` or something, and it'll be passed to mdev by the wrapper.

[2022-08-31 17:09] #1211 closed

[2022-08-31 17:10] git-bruh commented on #731
Continued in https://github.com/kiss-community/repo/issues/89

[2022-08-31 17:10] #731 closed

[2022-09-04 16:43] #1158 closed

[2022-09-04 16:43] #1163 closed

[2022-09-07 11:49] git-bruh opened #1231 "luajit: switch to ln -sf for symlink"
[code]

Should be changed to `ln -sf` as it'll break when `ldconfig` exists on the system (eg. if on glibc)

@Vouivre

[2022-09-07 14:31] git-bruh commented on #197
ping @TAAPArthur @mmatongo @Rio6 @jslick @tslilc @Vouivre @Mederim

[2022-09-07 15:06] mmatongo commented on #197
You called @git-bruh

[2022-09-07 15:12] git-bruh commented on #197
Can your packages be considered orphaned ?

[2022-09-07 15:14] Rio6 commented on #197
Updated skaware packages.

The sdl2 packages are maintained by tslilc now

[2022-09-07 17:49] mmatongo commented on #197
No, I shall update them. I'll pick a few while I'm at it.

[2022-09-07 19:55] tslilc commented on #197
Ack, will fix soon

[2022-09-08 06:42] #1231 closed

[2022-09-08 13:24] hovercats commented on #976
I can take `github-cli` and `cloc`.

[2022-09-09 16:34] TAAPArthur commented on #197
Dropping zathura-cb; Just sent out PRs for the others

[2022-09-13 18:54] illiliti opened #1249 "go: privacy hazard"
Consider applying the following patch to neutralize google spyware:
https://src.fedoraproject.org/rpms/golang/blob/rawhide/f/0003-cmd-go-disable-Google-s-proxy-and-sumdb.patch

cc @git-bruh

[2022-09-14 10:02] #1249 closed

[2022-09-14 16:13] Vouivre opened #1252 "cups-filters: new dependency libexif"
With the last version of `cups-filters`a new depedency is needed: `libexif`. I have created a package:

[code]

The given size is a little bit above 1 MB. It was introduced because some pictures were scaled to fit in a page. With `libexif`it's possible to print a picture without scaling it, so it can keep it's original size. [Here is the issue](https://github.com/OpenPrinting/cups-filters/issues/3

[2022-09-15 07:48] git-bruh commented on #1252
Should be OK, libexif doesn't seem to require anything other than libc either

[2022-09-15 07:58] git-bruh opened #1254 "json-glib: useless dependency"
json-glib doesn't need `python` @Mederim

[2022-09-15 17:59] Vouivre commented on #1252
@git-bruh @dilyn-corner

I've checked, no dependencies are needed. So as you wrote, libc must be enough. Do you confirm `libexif`can be added. ?

[2022-09-15 18:23] git-bruh commented on #1252
Yes

Also, you don't have to ask for approval for such decisions cuz they're within the KISS "guidelines" (no dbus etc)

[2022-09-16 12:14] git-bruh commented on #197
The following packages will be dropped

most
libdvdread
oed
caddy
libtirpc
gping
ioping
lsd
procs
rclone
restic
sdcv
tig
libmad
wget
talloc
zathura-cb
megatools
trash-cli

[2022-09-17 07:26] #1252 closed

[2022-09-18 01:06] Mederim commented on #1254
Solved

[2022-09-18 06:49] #1254 closed

[2022-09-18 13:16] git-bruh opened #1261 "sdl2: disable rpath"
@tslilc This is required as the kiss dependency detector has been modified to not run if it detects a non-relative RPATH -- sdl2 sets rpath to /usr/lib in it's pkgconfig file so anything linking to it gets an rpath set.

[code]

[2022-09-21 12:04] aabacchus opened #1269 "elinks fails to link if libexecinfo is installed"
@TAAPArthur: https://github.com/rkd77/elinks/issues/191

A fix on our end could be to manually set `HAVE_EXECINFO=no`, or

[code]

[2022-09-21 15:37] TAAPArthur commented on #1269
Personally dislike the check if a packaged is installed hack.

I think I'm fine with just setting `HAVE_EXECINFO=no` in the build file if that solves the problem. Feel free to open a PR that does that.

[2022-09-23 03:40] ioraff opened #1272 "sccache should not require the network to build"
here's a patch: https://0x0.st/oWoX.patch

@jslick

[2022-09-27 12:37] git-bruh opened #1278 "Codeberg shift"
This repository has been shifted to codeberg, all new PRs should preferably be sent there:

https://codeberg.org/kiss-community/community

[2022-09-28 08:59] #1269 closed

[2022-09-29 07:49] aabacchus opened #1279 "shellcheck"
- [ ] go - @git-bruh
- [ ] bc - @onodera-punpun

[2022-09-29 07:57] #1279 closed

[2022-10-03 13:15] git-bruh opened #1280 "s6-rc, s6-linux-init: skalibs is a make dep"
@rio6 They only generate static libraries so don't need skalibs

execline and s6 should probably be made completely static aswell

[2022-10-05 06:43] #1261 closed

[2022-10-05 06:44] #1272 closed